@import '../../static/css/mixin.styl'

.Chat
  &-list
    margin 0 12px;
    padding-bottom calc(100px + constant(safe-area-inset-bottom));
    padding-bottom calc(100px + env(safe-area-inset-bottom));
  &-item
    margin-bottom 16px;
    &-date
      font-size 10px; color #999999; margin-bottom 18px; margin-top 16px; text-align center;
    &-head
      size(40px, 40px); border-radius 50%; background-color #D5D5D5; overflow hidden; margin-right 8px; float left;
      image
        size(100%, 100%);
    &-content
      position relative
    &-wrapper
      float left; max-width 255px; margin-top 2px;
    &-message
      display flex; min-height 36px;
    &-status
      width 20px; display flex; align-items flex-end; font-size 10px; color #999999; margin-right 8px;
    &-box
      background-color #FFFFFF; border-radius 4px; text-align justify; word-break break-all; flex 1 0 0;
    &-goods
      padding 12px; width 222px;
      image
        size(222px, 222px); border-radius 2px; margin-bottom 8px; display block;
    &-text
      padding 8px;
    &-problem
      .item
        padding 8px; color #3B76FF;
    &-img
      padding 0; font-size 0; width 150px; background-color #D8D8D8; border-radius 4px; overflow hidden;
      image
        width 100%;
    &-audio
      acenter(); height 100%; min-width 65px;
      image
        margin-left 16px; margin-right 4px;
  .Chat-custom
    .Chat-item-head
      float right; margin-right 0; margin-left 8px;
    .Chat-item-wrapper
      float right
    .Chat-item-audio
      flex-direction row-reverse;
      image
        transform scale(-1); margin-left 4px; margin-right 16px;
  &-footer
    margin 7px 12px;
    input, .btn
      flex 1 0 auto; width calc(100vw - 120px); height 36px; border-radius 20px; background-color #FFFFFF; padding 0 20px; margin-right 8px;
    .btn
      font-size 14px; color #333333; line-height 36px; text-align center;
  &-emoji
    border-top 1px solid #E5E5E5; background-color #F5F5F5; position relative;
    &-scroll
      height 312px;
    &-list
      margin 20px 0 20px 4px; display flex; flex-wrap wrap;
    &-item
      size(46px, 26px); text-align center; margin-bottom 16px; font-size 26px; line-height 26px;
    &-toolbar
      size(138px, 92px); background-color #F5F5F5; abBR(0, 0); center();
      .btn
        size(53px, 36px); border-radius 4px; background-color #FFFFFF; center(); font-size 14px; color #FFFFFF; margin 0 4px;
      .btn-send
        background-color #FE322B;
      .btn-disabled
        opacity .5
  .footer-chat
    background-color #F5F6F7; display block; padding 0; bottom -312px; transition bottom .3s ease-out; padding-bottom constant(safe-area-inset-bottom); padding-bottom env(safe-area-inset-bottom);
    &:after
      content ''; width 100%; height constant(safe-area-inset-bottom); height env(safe-area-inset-bottom); abBL(0, 0); background-color #F5F6F7; z-index 100;
  .footer-chat-show
    bottom 0
  .audio-hint
    size(152px, 152px); fxTL(50%, 50%); transform translate(-50%, calc(-50% - 48px)); background-color #999999; border-radius 8px;
    .icons
      display flex; justify-content center; align-items flex-end; margin-top 32px; margin-bottom 24px;
  .audio-hint-cancel
    background-color #FFAD56
