@import '../../static/css/mixin.styl'

.Chat
  &-list
    margin 0 12px;
    padding-bottom calc(100px + constant(safe-area-inset-bottom));
    padding-bottom calc(100px + env(safe-area-inset-bottom));
  &-item
    margin-bottom 16px;
    &-date
      font-size 10px; color #999999; margin-bottom 18px; margin-top 16px; text-align center;
    &-head
      size(40px, 40px); border-radius 50%; background-color #D5D5D5; overflow hidden; margin-right 8px; float left;
      image
        size(100%, 100%);
    &-content
      position relative
    &-wrapper
      float left; max-width 255px; margin-top 2px;
    &-message
      display flex; min-height 36px;
    &-status
      width 20px; display flex; align-items flex-end; font-size 10px; color #999999; margin-right 8px;
    &-box
      padding 8px; background-color #FFFFFF; border-radius 4px; text-align justify; word-break break-all; flex 1 0 0;
    &-goods
      margin 4px; width 222px;
      image
        size(222px, 222px); border-radius 2px; margin-bottom 8px; display block;
    &-problem
      .item
        padding 8px; margin 0 -8px; color #3B76FF;
  .Chat-custom
    .Chat-item-head
      float right; margin-right 0; margin-left 8px;
    .Chat-item-wrapper
      float right
  &-footer
    margin 7px 12px;
    input, .btn
      flex 1 0 auto; width calc(100vw - 120px); height 36px; border-radius 20px; background-color #FFFFFF; padding 0 20px; margin-right 8px;
    .btn
      font-size 14px; color #333333; line-height 36px; text-align center;
  &-emoji
    border-top 1px solid #E5E5E5; background-color #F5F5F5;
    &-scroll
      height 312px;
    &-list
      margin 20px 0 20px 4px; display flex; flex-wrap wrap;
    &-item
      size(46px, 26px); text-align center; margin-bottom 16px; font-size 26px; line-height 26px;
    &-toolbar
      size(138px, 92px); background-color #F5F5F5; abBR(0, 0); center();
      .btn
        size(53px, 36px); border-radius 4px; background-color #FFFFFF; center(); font-size 14px; color #FFFFFF; margin 0 4px;
      .btn-send
        background-color #FE322B;
      .btn-disabled
        opacity .5
  .footer-chat
    background-color #F5F6F7; display block; padding 0; bottom -312px; transition bottom .3s ease-out;
  .footer-chat-show
    bottom 0
