@import '../../static/css/mixin.styl'

.Address
  &-item
    padding-left 12px; background-color #FFFFFF;
    &:after
      left 12px
    &:last-child:after
      height 0;
    .infos
      flex 1 0 0;
  .switch
    width 50px; font-size 0;
