@import '../../../static/css/mixin.styl'

.Yue
  .card
    size(100%, 153px); background linear-gradient(270deg, #FB8C5A 0%, #FE322B 100%); border-radius 4px; overflow hidden; position relative;
    .btn
      size(50px, 25px); center(); font-size 12px; font-weight bold; color #FFFFFF; abTR(24px, 0); background-color #FE322B; border-radius 13px 0px 0px 13px;
  .tixian-input
    acenter(); padding-bottom 8px; margin-top 18px; font-size 22px; margin-right -12px; margin-bottom 4px; align-items baseline;
    input
      font-size 26px; height 30px;
  .record-table
    .thead
      height 40px; display flex;
      &>view
        flex 1; height 100%; center()
    .tr
      height 50px; display flex;
      &>view
        font-size 12px; flex 1; height 100%; center()
