size(width = auto, height = auto)
  width width
  height height

fxTL(top = auto, left = auto)
  position fixed
  top top
  left left
fxTR(top = auto, right = auto)
  position fixed
  top top
  right right

fxBL(bottom = auto, left = auto)
  position fixed
  bottom bottom
  left left
fxBR(bottom = auto, right = auto)
  position fixed
  bottom bottom
  right right

abTL(top = auto, left = auto)
  position absolute
  top top
  left left

abTR(top = auto, right = auto)
  position absolute
  top top
  right right

abBL(bottom = auto, left = auto)
  position absolute
  bottom bottom
  left left

abBR(bottom = auto, right = auto)
  position absolute
  bottom bottom
  right right

center()
  display flex
  align-items center
  justify-content center
acenter()
  display flex
  align-items center
between()
  display flex
  align-items center
  justify-content space-between
around()
  display flex
  align-items center
  justify-content space-around
end()
  display flex
  align-items center
  justify-content flex-end

ellipsis()
  text-overflow ellipsis
  overflow hidden
  word-break break-all
  white-space nowrap
.ellipsis
  ellipsis()
