@import '../../../static/css/mixin.styl'

.Order-list
  &-item
    background-color #FFFFFF; border-radius 4px; padding 8px; overflow hidden; position relative; margin-bottom 8px;
    .c-btn
      width 73px;
