@import '../../../static/css/mixin.styl'

.Order-list
  &-item
    background-color #FFFFFF; border-radius 4px; padding 8px; overflow hidden; position relative; margin-bottom 8px;
    .c-btn
      width 73px;
    .img-list
     flex-wrap nowrap
    .img-item
      max-width 60px; flex 1 0 auto
