@import '../../../static/css/mixin.styl'

.Post
  .list
    padding-left 24px; padding-top 24px;
    &:before
      content ''; abTL(28px, 30px); bottom 0; width 2px; background-color #E5E5E5; transform scaleX(.5);
    .item
      display flex; margin-bottom 24px; position relative; z-index 5;
      .dot
        width 14px; text-align center; margin-right 16px;
      .content
        flex 1 0 0; color #999999
      &:first-child
        .content
          color #333333
