@import '../../static/css/mixin.styl'

.Detail
  &-header
    size(100%, 44px); fxTL(0, 0); background-color #FFFFFF; z-index 100;
    .tab-frame
      width 50%; margin 0 auto;
    .btns
      abTR(6px, 12px);
  &-banner
    size(100vw, 100vw); position relative; margin-top 44px;
    swiper
      size(100vw, 100vw);
      .img
        size(100%, 100%);
      video
        size(100vw, 100vw); abTL(0, 0); display block;
      .btn-play
        size(48px, 48px); abTL(50%, 50%); transform translate(-50%, -50%);
        image
          size(100%, 100%);
    .indicator
      height 16px; line-height 16px; padding 0 7px; border-radius 8px; font-size 10px; color #FFFFFF; background-color rgba(51, 51, 51, 0.7); abBR(8px, 12px);
  &-section
    margin 8px 12px; background-color #FFFFFF; border-radius 4px; padding 0 8px; overflow hidden; position relative;
  &-infos
    position relative;
    .post
      height 33px; background-color #FAFBFA; between(); padding 0 12px; font-size 12px; color #999999; margin 0 -12px;
      text
        color #FE322B;
    .coupon
      size(43px, 20px); center(); background linear-gradient(90deg, #FB7252 0%, #F53C2C 100%); border-radius 10px 0px 0px 10px; abTR(16px, 0); font-size 10px; color #FFFFFF;
  &-price-item
    overflow hidden
    &:last-child:after
      height 0
    .title
      flex 1 0 0; ellipsis(); margin 16px 0;
    .ul
      height 0; transition height .2s ease-out
  &-stores
    .logo
      size(48px, 48px); margin-right 8px; border-radius 50%;
    .c-btn
      width 72px;
  &-questions
    .ques-item
      padding-bottom 8px; margin-bottom 8px; display flex;
      &>.l
        width 70px; color #999999; margin-right 24px;
      &>.r
        flex 1 0 0; ellipsis()
      &:last-child:after
        height 0
  &-details
    margin 0 -12px;
    image
      width 100%; display block;
  &-footer
    between(); z-index 100;
    .btns
      size(112px, 40px)
    .btn
      text-align center; font-size 10px; height 40px;
      image
        size(24px, 24px); display block;
      view
        line-height 12px;
    .c-btn
      width 220px; margin-right 12px;
    .offline
      size(100%, 32px); background-color #FEF2E8; abTL(-32px, 0); center(); font-size 12px; color #FC7F1B;
  &-buys
    height 83vh; padding 16px 12px 0 12px;
    padding-bottom calc(100px + constant(safe-area-inset-bottom));
    padding-bottom calc(100px + env(safe-area-inset-bottom));
    .img
      size(85px, 85px); border-radius 4px;
    .cate-item
      center(); text-align center; max-width 100%; min-width 56px; height 23px; padding 0 10px; background-color #F5F5F5; border-radius 12px; font-size 12px; margin-right 4px; ellipsis(); margin-bottom 8px;
    .cate-item-disabled
      color #D5D5D5
    .cate-item-active
      background-color #FE322B; color #FFFFFF;
    .footer-container
      display block; box-shadow 2px 0px 4px 0px #E5E5E5;
