@font-face {
    font-family: 'TTHB';
    src: url(../font/TTHB.otf)
}
@font-face {
    font-family: 'TTHBold';
    src: url(../font/TTHBold.otf)
}
@font-face {
    font-family: 'TTHR';
    src: url(../font/TTHR.otf)
}