size(width = auto, height = auto)
  width width
  height height

fxTL(top = auto, left = auto)
  position fixed
  top top
  left left

fxBR(bottom = auto, right = auto)
  position fixed
  bottom bottom
  right right

abTL(top = auto, left = auto)
  position absolute
  top top
  left left

abBR(bottom = auto, right = auto)
  position absolute
  bottom bottom
  right right

center()
  display flex
  align-items center
  justify-content center
between()
  display flex
  align-items center
  justify-content space-between

bgG()
  background linear-gradient(349deg, #5B85E6 0%, #6D9AF4 100%)
