@import '../../static/css/mixin.styl'

.Rent
  .goods-item-hor
    padding 0;
    .img
      size(85px, 85px)
    .title
      flex 1 0 0;
  &-item
    .item
      padding-bottom 8px; margin-bottom 8px;
      &:last-child
        margin-bottom 0;
      &:last-child:after
        height 0;
      .btns
        .c-btn
          width 73px;
.Record
  .section
    padding 0 12px;
  .img-list
    .img-item
      size(70px, 70px)
