@font-face {
    font-family: 'dosis';
    src:url('../font/Dosis-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
html,body{ height: 100%;}
body{ min-width: 1350px;}
#app {
    height: 100%;
    font-family:'dosis', Micro Yahei, 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-frame{ width: 100%; height: 100%; position: relative; overflow: hidden;}
body{ background-color: #000;}
.video-frame{ width: 100%; height: 100%; overflow: hidden;}
/*.video-frame video{ width: 100%; height: 100%; position: relative;}*/
.index-swiper{ width: 100%; height: 100%; color: #fff; cursor: url("../images/drag.png"),default; position: absolute; top:0; left: 0;}

.footer-nav{ position: fixed; bottom:0; left: 0; right:0; z-index: 500; border-bottom: 2px solid #000;}
.footer-nav .btn-share{ position: absolute; left: 60px; bottom: 30px;}
.footer-nav .lines{ width: 287px; margin: 0 auto; overflow: hidden; position: relative;}
.footer-nav .lines li{ width: 1px; height: 2px; background-color: #fff; float: left; margin-right: 40px;}
.footer-nav .lines .bar{ width: 40px; height: 2px; background-color: #fff; position: absolute; left: 1px; bottom: 0; transition:all 0.5s cubic-bezier(.76,.05,.28,.96) ;}
.footer-nav .btn-customer{ position: absolute; right: 60px; bottom: 30px;}

.top-nav{ min-width: 1250px;  position: fixed; top: 40px; left: 60px; right: 60px; z-index: 500; transition:top 0.3s ease-out; -webkit-transition:top 0.3s ease-out;}
.top-nav-slide{ top: -38px;}
.top-nav:before{ content: ''; border-bottom: 1px solid rgba(255,255,255,0.2); position: absolute; top: 12px; left: -60px; right: -60px;}
.top-nav .logo{ position: absolute; top: 0; left: 0;}
.top-nav .logo img{ width: 155px; height: 25px;}
.top-nav .nav{  position: relative; z-index: 20;}
.top-nav .nav ul{ display: flex; justify-content: center;}
.top-nav .nav li{  margin:0 25px;}
.top-nav .nav li:last-child{ margin-right: 0;}
.top-nav .nav li a{ color: #fff; font-size: 16px;}
.top-nav .nav li.active { transform: scale(1.1); -webkit-transform: scale(1.1);}
.top-nav .nav li.active a{ font-weight: bold;}
.top-nav .btn-mall{ width: 260px; border: 2px solid #fff; font-size: 20px; float: right; padding: 8px 0; text-align: center; color: #fff; margin-top: -10px; display: none;}
.top-nav .btn-mall:hover{ background-color: #fff; color: #000;}
.top-nav .nav2{ float: right; margin-right: 100px; margin-top: 2px;}
.top-nav .nav2 li{ margin-right: 40px;}
.top-nav .nav2 a{ font-size: 12px;}
.top-nav .menu{ margin: 18px -60px 0 -60px; background-color: rgba(0,0,0,0.2); border-bottom: 1px solid rgba(255,255,255,0.3); text-align: center; padding: 12px 0; display: none;}
.top-nav-slide .menu{ display: block;}

.swiper-slide{ overflow: hidden;}
.cover-post{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; -webkit-background-size: cover; background-position: center center;}
.page1-content{ overflow: hidden;}
.page1-content video{ position: relative; top: 50%; left: 50%; margin: -540px 0 0 -960px;}
.page1-content .title{ width: 500px; position: absolute; top: 50%; left: 50%; margin: -45px 0 0 -250px;}
.page1-content .title p{ text-align: center; font-size: 30px; letter-spacing: 15px; margin-bottom: 20px;}
.page1-content .title div{ text-align: center; font-size: 24px; letter-spacing: 12px; color: rgba(255,255,255,0.4);}
.page1-content .hint{ width: 226px; height: 68px; position: absolute; bottom: 20px; left: 50%; margin: 0 0 0 -113px; background: url('../images/tutorial.png') no-repeat; z-index: 100;}

.page2-content{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; overflow: hidden;}

.page3-content{ position: absolute; top: 100px; left: 6%; right: 6%; bottom: 80px; background-color: #fff; overflow: hidden;}
.page3-content .scroll-frame{ position: relative; display: flex; height: 100%; flex-wrap: wrap;}
.page3-content .item{ width: 50%; height: 50%; background-size: cover; -webkit-background-size: cover; background-position: center center; overflow: hidden;}
.page3-content .item video{display: block; opacity: 0;}
.page3-content:hover .item video{  opacity: 1;}
.page3-content .item-frame{ display: flex;}
.page3-content .item-frame li{ flex: 1; background-size: cover; -webkit-background-size: cover; background-position: center center;}
.page3-content .item-frame li div{ height: 50%; background-size: cover; -webkit-background-size: cover; background-position: center center;}
.p3-scroll{ width: 17px; height: 100%; border-right: 1px solid rgba(141,141,141,0.2); position: absolute; right: 6%; top: 0; margin-right: -18px;}
.p3-scroll .p3-bar{ width: 17px; height: 207px; background: url('../images/slide2.png') no-repeat; position: absolute; top: 100px; left: 0;cursor: url("../images/clic.png"),default;}

.page4-content{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;display: flex;justify-content:center;flex-direction:column;}
.page4-content ul{ transition:all 0.3s ease-out;}
/*.page4-content ul:hover{ margin-top: -23px;}*/
/*.page4-content ul.active{ margin-top: -70px;}*/
.page4-content li{ border-bottom: 1px solid rgba(255,255,255,0.2); padding: 10px 0; text-align: center; position: relative;}
.page4-content li:last-child{ border-bottom: none;}
.page4-content li .mask{ height: 40px; background-color: #000; opacity: 0; transition: all 0.3s ease-out;}
.page4-content li p{ width: 100%; color: rgba(255,255,255,0.4); font-size: 24px; letter-spacing: 25px; position: absolute; top: 50%; left: 0; margin-top: -16px; cursor: pointer;}
.page4-content li .detail{ display:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.page4-content li .detail div{ width: 840px; height: 100%; display: flex; margin: 0 auto; justify-content:center;flex-direction:column; color: rgba(255,255,255,0.4); font-size: 14px; letter-spacing: 4px; line-height: 2;}
.page4-content li:hover .mask{ height: 90px; opacity: 0.2;}
.page4-content li.active{cursor: url("../images/cursor-close.png"),default;}
.page4-content li.active .mask{ height: 150px; opacity: 1;}
.page4-content li.active p{ display: none;}
.page4-content li.active .detail{ display: block;}

.page5-content{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; overflow: hidden;}
.page5-content ul{ width: 2730px; height: 1950px; overflow: hidden; position: absolute; top: 50%; left: 50%; margin: -975px 0 0 -1365px;}
.page5-content li{ width: 130px; height: 130px; float: left;}
.page5-content li div{ width: 100%; height: 100%; background-color: #000; float: left; font-size: 60px; color: #fff; display: flex; justify-content:center;flex-direction:column; text-align: center; transition: all 0.1s linear 1s; }
.page5-content li:hover div{ opacity: 0; transition-delay: 0s; transition-duration: 0s;}

.page6-content{ width: 750px; position: absolute; top: 50%; left: 50%; margin: -134px 0 0 -375px; text-align: center;}
.page6-content p{ font-size: 30px; letter-spacing: 10px; line-height: 1.1; margin-bottom: 50px;}
.page6-content p span{ font-size: 18px; letter-spacing: 5px;}
.page6-content div{ font-size: 18px; color: rgba(255,255,255,0.3); letter-spacing: 2px; line-height: 1.4; margin-bottom: 50px;}
.page6-content a{ width: 300px; display: inline-block; border: 1px solid rgba(255,255,255,0.8); font-size: 16px; padding: 15px 0; color: #fff; letter-spacing: 5px;}

.page7-content{ width: 1150px; position: absolute; top: 50%; left: 50%; margin: -260px 0 0 -575px; text-align: center;}
.page7-content .info div{ display: inline-block; margin-right: 40px; font-size: 18px; letter-spacing: 6px; margin-bottom: 50px; font-weight: bold;}
.page7-content .info div span{ font-weight: normal;}
.page7-content .info div:last-child{ margin-right: 0;}
.page7-content .list li{ display: inline-block; margin: 0 15px;}

/*
    news
*/
#news-scroll-line {position: absolute;top: 0;left: 50%; margin-left: 599px;width: 20px; height: 100%; background-image: url("../images/pixel.png");background-repeat: repeat-y; background-size: 100%; z-index: 100;}
.scroll-bar{ width: 18px; height: 400px; background: url("../images/slide1.png") no-repeat; position: absolute; top: 0; left: 1px; background-size: 100% 100%; cursor: url("../images/clic.png"),default;}
#news-content-handler{ width: 100%; height: 100%; overflow: hidden;}
#news-lines {position: absolute;top: 0;left: 50%;height: 100%;width: 842px;margin-left: -600px; background-image: url("../images/lines.png");background-repeat: repeat-y  }
#news-handler { background-image: url("../images/background.png"); background-position: 50% 160px;height: 100%; position: relative; top: 0;}
#news-placeholder {width: 1200px;margin: 0 auto;position: relative;overflow: hidden;min-height: 100%; }
.news-item { width: 400px;padding-left: 15px;padding-right: 15px;height: 380px;position: absolute;  }
.news-visuel {position: absolute;top: -231px;left: 2px;height: 608px;width: 398px;opacity: 0;transition: all 0.5s ease-out; }
.news-item:hover .news-visuel{ opacity: 1;}
.news-visuel img {position: absolute;top: 0;left: 0  }
.news-visuel:hover {cursor: pointer }
.news-date {font-size: 12px;color: #FFF;padding-top: 8px;padding-bottom: 12px;position: relative  }
.news-date:hover, .news-title:hover, .news-description:hover {cursor: pointer  }
.news-title { width: 400px;font-size: 16px;color: #FFF; margin-top: 24px; letter-spacing: 5px; position: relative; z-index: 10;}
.news-description { width: 400px;font-size: 16px;color: rgba(255,255,255,0.4); margin-top: 10px; letter-spacing: 5px; position: relative; z-index: 10;}
.news-item-top .news-title,.news-item-top .news-description{ opacity: 0.2;}

.arrow-list{ margin-top: 210px;}
.arrow-list li{ animation:blink 1s linear infinite; -webkit-animation:blink 1s linear infinite; text-align: center;}
.arrow-list li:nth-child(2){ animation-delay: 0.25s; -webkit-animation-delay: 0.25s;}
.arrow-list li:nth-child(3){ animation-delay: 0.5s; -webkit-animation-delay: 0.5s;}
.arrow-list li:nth-child(4){ animation-delay: 0.75s; -webkit-animation-delay: 0.75s;}
@keyframes blink {
    0%,100%{opacity: 1;}
    50%{opacity: 0;}
}
@-webkit-keyframes blink {
    0%,100%{opacity: 1;}
    50%{opacity: 0;}
}

.loading-frame{ position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1100; background-color: #000; display: flex; flex-direction: column; justify-content: center;}
.loading-frame .content{ width: 150px; text-align: center; background-color: rgba(255,255,255,0.2); color: #Fff; font-size: 16px; margin: 0 auto; padding: 2px 0; position: relative;}
.loading-frame .content:before,.loading-frame .content:after{ content: ''; width: 100%; height: 5px; background-color: #fff; position: absolute; left: 0; animation: loading 5s ease-out infinite; -webkit-animation: loading 5s ease-out infinite; transform-origin:0 50%; -webkit-transform-origin:0 50%;}
.loading-frame .content:before{ top: -5px;}
.loading-frame .content:after{ bottom: -5px;}
@keyframes loading {
    0%{ transform: scale(0,1);}
    100%{ transform: scale(1,1);}
}
@-webkit-keyframes loading {
    0%{ -webkit-transform: scale(0,1);}
    100%{ -webkit-transform: scale(1,1);}
}

.frame1400{ width: 1400px; margin-left: auto; margin-right: auto; position: relative;}
.news-frame{ position: fixed; top: 76px; left: 0; right: 0; bottom: 0; z-index: 500;}
.news-frame .slide-frame{}
.news-frame .slide-frame>a{ display: block; padding: 60px 0 15px 0; text-align: center;}
.news-frame .slide-frame .content-frame{ height: 810px; background-color: #fff; overflow: hidden; overflow-y: scroll;}
.news-frame .slide-frame .content-frame .title{ margin: 110px 0 40px 0; font-size: 28px; letter-spacing: 5px;}
.news-frame .slide-frame .content-frame .last-frame{ width: 300px; position: absolute; top:0; right: 0;}
.news-frame .slide-frame .content-frame .last-frame h3{ font-size: 20px; color: #797979; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; letter-spacing: 10px; margin-bottom: 50px;}
.news-frame .slide-frame .content-frame .last-list li{ border-bottom: 1px dashed #e5e5e5; margin-bottom: 25px; padding-bottom: 25px;}
.news-frame .slide-frame .content-frame .last-list li p{ font-size: 16px; margin-bottom: 12px;}
.news-frame .slide-frame .content-frame .last-list li div{ font-size: 16px; color: rgba(0,0,0,0.3);}
.news-frame .news-content p{ font-size: 16px; line-height: 2; color: #333333; text-indent: 2em; margin-bottom: 15px;}
.news-frame .news-content p.imgs{ text-align: center;}
.news-frame .news-content .cd-list{ margin-bottom: 35px;}
.news-frame .news-content .cd-list li{ font-size: 16px; color: #333333; text-indent: 4em; margin-bottom: 10px; position: relative;}
.news-frame .news-content .cd-list li:before{ content: ''; width: 8px; height: 8px; border-radius: 50%; background-color: #333333; position: absolute; top: 8px; left: 35px;}

.btn1{ width: 200px; font-size: 20px; color: #fff; display: inline-block; padding: 10px 0; border: 2px solid #fff; text-align: center; margin: 0 8px;}
.btn1:hover{ background-color: #fff; color: #000;}


.share-frame{ position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; background-color: rgba(0,0,0,0.5); display: flex; justify-content: center; align-items: center;}
.share-frame .share-content{ width: 720px; height: 330px; background-color: #fff; border-radius: 5px; text-align: center;}
.share-frame .share-content ul{ display: flex; justify-content: center; margin-top: 70px; list-style: none;}
.share-frame .share-content ul li{ margin: 0 10px; position: relative;}
.share-frame .share-content ul li div{ position: absolute; top: 60px; left: -25px; display: none;}
.share-frame .share-content ul li:hover div{ display: block;}
.share-frame .share-content ul li a{ width: 54px; height: 54px; display: inline-block; background: url('../images/icon-logo.png') no-repeat;}
.share-frame .share-content ul li .icon-qq{ background-position: 0 0;}
.share-frame .share-content ul li .icon-wechat{ background-position: -54px 0;}
.share-frame .share-content ul li .icon-sina{ background-position: -108px 0;}
.share-frame .share-content ul li .icon-douban{ background-position: -162px 0;}
.share-frame .share-content ul li .icon-qzone{ background-position: -216px 0;}
.share-frame .share-content ul li .icon-renren{ background-position: -270px 0;}