/* 框架 */
.frame-bg { background-color: #f6f5f6}
.frame-header { width: 100%; height: 60px;background-color: #ffffff; box-shadow: 0 1px 6px rgba(55, 205, 154, 0.1); position: fixed; top: 0; left: 0; z-index: 1000;}

.user-frame { width: 200px; height: 100%; float: right; border-left: 1px solid #e5e5e5;}
.user-frame img { width: 42px; height: 42px; border-radius: 50%; background-color: #e5e5e5; float: left; margin: 10px 0 0 20px;}
.user-frame div { float: left; margin: 14px 0 0 14px;}
.user-frame div h4 { color: #75b19d; font-size: 18px; line-height: 1;}
.user-frame div p { color: #c1c1c1; font-size: 12px; line-height: 1; margin-top: 3px;}

.btn-message { float: right; margin: 20px 40px 0 0; position: relative;}
.btn-message i { width: 24px; height: 20px; display: block; background: url("../images/icons.png") no-repeat; background-position: -127px -35px;}
.btn-message span { height: 20px; background-color: #f38f52; color: #ffffff; font-size: 12px; line-height: 20px; border-radius: 10px; padding: 0 7px; position: absolute; top: -10px; right: -22px;}

.frame-aside { width: 310px; height: 100%; background-color: #ffffff; position: fixed; top: 0; left: 0; z-index: 1500;}
.frame-aside .logo { margin: 25px 0 40px 30px;}
.frame-aside h3 { color: #888888; font-size: 18px; line-height: 1; margin: 0 0 18px 30px;}
.frame-aside .menu-list { margin-left: 1px;}
.frame-aside .menu-list .level1>li { margin-bottom: 6px; position: relative;}
.frame-aside .menu-list .level1>li.arrow:before { content: ''; width: 9px; height: 7px; background: url("../images/icons.png") no-repeat; background-position: -92px -48px; position: absolute; top: 26px; right: 120px;}
.frame-aside .menu-list .level1>li.active:before { background-position: -100px -79px;}
.frame-aside .menu-list .level1>li>a { height: 56px; display: flex; align-items: center; border-left: 6px solid #ffffff; font-size: 16px; color: #888888; font-weight: bold;}
.frame-aside .menu-list .level1>li>a i { width: 20px; height: 18px; display: block; background: url("../images/icons.png") no-repeat; margin: 0 20px;}
.frame-aside .menu-list .level1>li>a i.icon-home { background-position: -1px -37px;}
.frame-aside .menu-list .level1>li>a i.icon-manage { background-position: -25px -37px;}
.frame-aside .menu-list .level1>li>a i.icon-person { background-position: -48px -37px;}
.frame-aside .menu-list .level1>li>a i.icon-setting { background-position: -70px -37px;}
.frame-aside .menu-list .level1>li>a:hover, .frame-aside .menu-list .level1>li.active>a { border-left: 6px solid #41d5bc; background-color: #e5f7f4; color: #6fd7bb;}
.frame-aside .menu-list .level2 { display: none;}
.frame-aside .menu-list .level1>li.active .level2 { display: block;}
.frame-aside .menu-list .level2 li a { display: block; font-size: 16px; line-height: 1; padding:25px 10px 25px 60px;  color: #888888; font-weight: bold;}
.frame-aside .menu-list .level2 li a:hover, .frame-aside .menu-list .level2 li.active a { color: #6fd7bb;}

.frame-container { margin: 60px 0 0 310px; height: calc(100vh - 64px);}
.frame-container iframe { width: 100%; height: 100%; border: none;}

.z-card { border-radius: 6px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #ffffff; overflow: hidden;}

.z-title { font-size: 20px; line-height: 1; color: #666666; font-weight: bold; padding-left: 15px; border-left: 5px solid #41d5bc; margin: 12px 0 15px 0;}

/* 上传 */
.z-upload { width: 180px; height: 180px; border: 1px dashed #dddddd; background-color: #fafafa; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer;}
.z-upload .icon-add { width: 32px; height: 32px; background: url("../images/icons.png") no-repeat; background-position: -118px 0;}
.z-upload p { font-size: 14px; line-height: 1; color: #cccccc; margin-top: 20px;}
.z-upload input { display: none;}
.z-upload img { width: 100%; display: none;}
.z-upload-img .icon-add{ display: none;}
.z-upload-img p{ display: none;}
.z-upload-img img { display: block;}

/* 按钮 */
.z-btn { padding: 8px 16px 7px 16px; background-color: #37cd9a; font-size: 14px; color: #ffffff; border-radius: 8px; border: none;}

.z-btn-border { height: 40px; background:rgba(255,255,255,1); border:1px solid rgba(55,205,154,1); border-radius:4px; color: #37CD9A; padding: 0 40px;}

.z-btn-border2 { height: 34px; border-radius:4px; padding: 0 18px; font-size: 12px; font-weight: 400;}
.z-btn-border-success { border:1px solid rgba(114,226,188,1); background:rgba(221,251,241,1); color:rgba(55,205,154,1);}
.z-btn-border-warn { border:1px solid rgba(245,179,139,1); background:rgba(255,238,227,1); color:rgba(243,143,82,1);}
.z-btn-border-info { border:1px solid rgba(202,192,222,1); background:rgba(240,233,254,1); color:rgba(171,150,218,1);}

/* 搜索框 */
.z-search { position: relative;}
.z-search:before { content: ''; width: 14px; height: 14px; background: url("../images/icons.png") no-repeat; background-position: -77px -89px; position: absolute; top: 12px; left: 24px;}
.z-search input { width: 230px; font-size: 12px; color: #999999; padding:10px 10px 10px 45px; background-color: #f7f6f7; border-radius: 8px;}

/* 时间选择框 */
.z-date {  position: relative;}
.z-date:before { content: ''; width: 14px; height: 14px; background: url("../images/icons.png") no-repeat; background-position: -77px -89px; position: absolute; top: 10px; right: 14px;}
.z-date input { width: 230px; font-size: 12px; color: #999999; padding:10px 32px 10px 12px; background-color: #f7f6f7; border-radius: 8px;}

/* 下拉框 */
.z-select select { width: 100%; height: 34px; border: none; background-color: #f7f6f7; border-radius: 8px; color: #999999; padding: 0 10px;}

/* 标签 */
.z-tab { margin: 20px; border-bottom: 1px solid #efefef; display: flex;}
.z-tab li { margin-right: 70px; padding-bottom: 12px; font-size: 16px; line-height: 1; color: #949494; cursor: pointer; position: relative;}
.z-tab li.active { font-size: 18px; color: #666666; font-weight: bold;}
.z-tab li.active:after { content: ''; width: 56px; height: 2px; background-color: #37cd9a; position: absolute; bottom: -1px; left: 50%; margin-left: -28px;}

/* 链接颜色 */
.link-primary { color: #5386E3}
.link-success { color: #21C79A}
.link-info { color: #AB96DA}
.link-warn { color: #F38F52}

/* 单选框 */
.z-radio { width: 20px; height: 20px; -webkit-appearance: none; background: url("../images/icons.png") no-repeat; background-position: -88px -119px;}
.z-radio:checked { background-position: -66px -119px;}

   /* 表格 */
.z-table { width: 100%; overflow-x: scroll;}
.z-table::-webkit-scrollbar { height: 12px; border-radius: 6px; background-color: #F2F2F5;}
.z-table::-webkit-scrollbar-thumb { height: 12px; border-radius: 6px; background-color: #DEDEE0;}
.z-table th, .z-table td { font-size: 14px; color: #6D6F77; text-align: left; padding: 20px 0 20px 20px; vertical-align: middle;}
.z-table td { color: #999999}
.z-table tbody>tr:nth-child(odd)>td { background-color: #fafafc;}
.z-table td.radio { padding: 20px 0; text-align: center;}


/* 弹窗 */
.z-modal { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); z-index: 2000;}
.z-modal-frame { background:rgba(255,255,255,1); border-radius:4px; position: relative; margin: 200px auto 0 auto;}
.z-modal-frame-close { width: 16px; height: 16px; background: url("../images/icons.png") no-repeat; background-position: -3px -64px; position: absolute; top: 20px; right: 16px;}

/* 审核意见 */
.check-back-frame { overflow: hidden;}
.check-back-frame .title { font-size:16px; font-weight:400; color:rgba(102,102,102,1); display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 40px;}
.check-back-frame .title i { width: 18px; height: 18px; background: url("../images/icons.png") no-repeat; background-position: -127px -57px; margin-right: 13px;}
.check-back-frame .content { margin: 0 40px; min-height: 150px; margin-bottom: 20px; font-size:14px; font-weight:400; color:rgba(136,136,136,1); line-height:26px;}

/* 弹窗 */
.confirm-frame { overflow: hidden;}
.confirm-frame .icon-warn { width: 48px; height: 48px; background: url("../images/icons.png") no-repeat; background-position: -111px -77px; display: block; margin: 40px auto;}
.confirm-frame .content { margin: 0 40px 50px 40px; font-size:16px; font-weight:400; color:rgba(102,102,102,1); text-align: center;}
.confirm-frame .btns { margin: 0 70px; display: flex; justify-content: space-between; align-items: center;}
.confirm-frame .btns a { width:120px; height:40px; border-radius:4px; display: flex; justify-content: center; align-items: center;}
.confirm-frame .btns a.confirm { background:rgba(55,205,154,1); box-shadow:0px 1px 4px 0px rgba(84,221,183,0.77); color: #ffffff;}
.confirm-frame .btns a.cancel { box-shadow:0px 1px 4px 0px rgba(84,221,183,0.77); color:rgba(55,205,154,1); border:1px solid rgba(55,205,154,1);}
