/* 框架 */
.frame-bg { background-color: #f6f5f6}
.frame-header { width: 100%; height: 60px;background-color: #ffffff; box-shadow: 0 1px 6px rgba(55, 205, 154, 0.1); position: fixed; top: 0; left: 0; z-index: 1000;}

.user-frame { width: 200px; height: 100%; float: right; border-left: 1px solid #e5e5e5;}
.user-frame img { width: 42px; height: 42px; border-radius: 50%; background-color: #e5e5e5; float: left; margin: 10px 0 0 20px;}
.user-frame div { float: left; margin: 14px 0 0 14px;}
.user-frame div h4 { color: #75b19d; font-size: 18px; line-height: 1;}
.user-frame div p { color: #c1c1c1; font-size: 12px; line-height: 1; margin-top: 3px;}

.btn-message { float: right; margin: 20px 40px 0 0; position: relative;}
.btn-message i { width: 24px; height: 20px; display: block; background: url("../images/icons.png") no-repeat; background-position: -127px -35px;}
.btn-message span { height: 20px; background-color: #f38f52; color: #ffffff; font-size: 12px; line-height: 20px; border-radius: 10px; padding: 0 7px; position: absolute; top: -10px; right: -22px;}

.frame-aside { width: 310px; height: 100%; background-color: #ffffff; position: fixed; top: 0; left: 0; z-index: 1500;}
.frame-aside .logo { margin: 25px 0 40px 30px;}
.frame-aside h3 { color: #888888; font-size: 18px; line-height: 1; margin: 0 0 18px 30px;}
.frame-aside .menu-list { margin-left: 1px;}
.frame-aside .menu-list .level1>li { margin-bottom: 6px; position: relative;}
.frame-aside .menu-list .level1>li.arrow:before { content: ''; width: 9px; height: 7px; background: url("../images/icons.png") no-repeat; background-position: -92px -48px; position: absolute; top: 26px; right: 120px;}
.frame-aside .menu-list .level1>li.active:before { background-position: -100px -79px;}
.frame-aside .menu-list .level1>li>a { height: 56px; display: flex; align-items: center; border-left: 6px solid #ffffff; font-size: 16px; color: #888888; font-weight: bold;}
.frame-aside .menu-list .level1>li>a i { width: 20px; height: 18px; display: block; background: url("../images/icons.png") no-repeat; margin: 0 20px;}
.frame-aside .menu-list .level1>li>a i.icon-home { background-position: -1px -37px;}
.frame-aside .menu-list .level1>li>a i.icon-manage { background-position: -25px -37px;}
.frame-aside .menu-list .level1>li>a i.icon-person { background-position: -48px -37px;}
.frame-aside .menu-list .level1>li>a i.icon-setting { background-position: -70px -37px;}
.frame-aside .menu-list .level1>li>a:hover, .frame-aside .menu-list .level1>li.active>a { border-left: 6px solid #41d5bc; background-color: #e5f7f4; color: #6fd7bb;}
.frame-aside .menu-list .level2 { display: none;}
.frame-aside .menu-list .level1>li.active .level2 { display: block;}
.frame-aside .menu-list .level2 li a { display: block; font-size: 16px; line-height: 1; padding:25px 10px 25px 60px;  color: #888888; font-weight: bold;}
.frame-aside .menu-list .level2 li a:hover, .frame-aside .menu-list .level2 li.active a { color: #6fd7bb;}

.frame-container { margin: 60px 0 0 310px; height: calc(100vh - 64px);}
.frame-container iframe { width: 100%; height: 100%; border: none;}

.z-card { border-radius: 6px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #ffffff; overflow: hidden;}

.z-title { font-size: 20px; line-height: 1; color: #666666; font-weight: bold; padding-left: 15px; border-left: 5px solid #41d5bc; margin: 12px 0 15px 0;}

/* 上传 */
.z-upload { width: 180px; height: 180px; border: 1px dashed #dddddd; background-color: #fafafa; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer;}
.z-upload .icon-add { width: 32px; height: 32px; background: url("../images/icons.png") no-repeat; background-position: -118px 0;}
.z-upload p { font-size: 14px; line-height: 1; color: #cccccc; margin-top: 20px;}
.z-upload input { display: none;}
.z-upload img { width: 100%; display: none;}
.z-upload-img .icon-add{ display: none;}
.z-upload-img p{ display: none;}
.z-upload-img img { display: block;}