@import '../../static/css/mixin.styl'

.Refund
  &-item
    padding 8px!important;
  .goods
    .img
      size(85px, 85px); border-radius 4px; margin-right 8px;
    .content
      flex 1 0 0;
      .title
        overflow hidden; text-overflow ellipsis; display -webkit-box; -webkit-line-clamp 2; -webkit-box-orient vertical;
  .return-title
    size(75px, 28px); border-radius 14px; background-color #F5F5F5; center(); position relative; margin 16px auto; color #999999;
    &:before,&:after
      content ''; size(50px, 2px); background-color #E5E5E5; position absolute; top 50%; transform scaleY(.5);
    &:before
      left 90px;
    &:after
      right 90px;
  &-detail
    .status-frame
      size(100%, 100px); background linear-gradient(270deg, #F77936 0%, #FAA449 100%); overflow hidden;
      .time
        text
          color #FE322B
    .message
      background-color #F5F5F5; padding 8px; color #666666; font-size 12px;
    .goods:last-child
      margin-bottom 0;
      &:after
        height 0;
    .footer-container
      .c-btn
        min-width 74px; width auto; padding 0 12px;
    .send-info
      padding-left 34px;
      &:before
        content ''; width 2px; abTL(20px, 19px); bottom 20px; background-color #D5D5D5; transform scaleX(.5);
      .index
        size(14px, 14px); border-radius 50%; background-color #FFFFFF; abTL(3px, -21px); center(); text-align center; font-size 10px; line-height 14px;
        &:after
          content ''; size(200%, 200%); border 2px solid #D5D5D5; transform-origin 0 0; transform scale(.5); abTL(0,0); border-radius 50%;
