@import '../../static/css/mixin.styl'

.Refund
  &-item
    padding 8px;
  .goods
    .img
      size(85px, 85px); border-radius 4px; margin-right 8px;
    .content
      flex 1 0 0;
      .title
        overflow hidden; text-overflow ellipsis; display -webkit-box; -webkit-line-clamp 2; -webkit-box-orient vertical;
