@import '../../../static/css/mixin.styl'

.goods
  .opera-top
    width 100%; background-color #FFFFFF; fxTL(0, 0); z-index 10;
  .btn-cate-more
    size(40px, 40px); background-color #FFFFFF; center(); abTR(0, 0)
  .none-txt
    width 100%; fxTL(50vh, 0); margin-top -14px; font-size 14px; color #999999; text-align center;
