.title { font-size: 18px; line-height: 25px; margin-top: 20px; margin-bottom: 20px; }

.apply-frame { padding: 40px 0 20px 0; border: 1px solid #D5D5D5; margin-bottom: 20px; }

.form .goods { overflow: hidden; }
.form .goods .imgs { width: 120px; height: 120px; margin-right: 20px; float: left; }
.apply-frame .form .formItem .formLabel { margin-top: 0; }
.apply-frame .form .formItem .btn-main { width: 148px; margin-top: 60px; }

.susong-list { overflow: hidden; }
.susong-list>a { width: 540px; height: 140px; border-radius: 4px; border: 1px solid #D5D5D5; margin: 0 0 20px 40px; float: left; }
.susong-list>a:hover { border-color: #FE322B; }
.susong-list>a img { float: left; margin: 40px 20px 0 40px; }
.susong-list>a div { float: left; margin-top: 40px; }
.susong-list>a h3 { font-size: 18px; margin-bottom: 20px; }
.susong-list>a p { color: #999999; }
