/*
   尺寸
*/
.w { width: 1200px; margin: auto; }
.w100 { width: 100% }

/*
   颜色
*/
.b-fff { background-color: #ffffff }
.b-f5 { background-color: #F5F5F5 }
.c-main { color: #FE322B; }
.c666 { color: #666666; }
.c999 { color: #999999; }
.cfff { color: #ffffff; }
.c-link { color: #275C91; }

/*
   全局组件
*/

/* 复选框 */
input[type=checkbox] { -webkit-appearance: none; width: 16px; height: 16px; background: url("../img/checkbox.png") no-repeat; }
input[type=checkbox]:checked { background-position: -16px 0; }

/* 气泡浮窗 */
.c-pop { width: 244px; background: #FFFFFF; box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15); position: absolute; z-index: 100; }
.c-pop-up { top: 100%; }
.c-pop-up:before { content: ''; width: 14px; height: 7px; background: url("../img/arrow3.png") no-repeat; position: absolute; top: -7px; left: 50%; margin-left: -7px; }

/* 弹窗 */
.c-modal { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 2000; overflow-y: auto; background: rgba(0, 0, 0, 0.5); }
.c-modal::-webkit-scrollbar { width: 2px; background-color: #F5F5F5; }
.c-modal::-webkit-scrollbar-thumb { width: 2px; background-color: #D5D5D5; }
.c-modal-bg { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.c-modal-body { background-color: #ffffff; border-radius: 4px; margin: 150px auto; overflow: hidden; position: relative; z-index: 10; }
.c-modal-close { position: absolute; top: 20px; right: 20px; }
.c-modal-header { padding: 0 20px; height: 48px; background-color: #F5F5F5; overflow: hidden; }
.c-modal-header span { float: left; margin-top: 16px; }
.c-modal-header a { float: right; margin-top: 16px; }

   /* 标签页 */
.c-tabs { overflow: hidden; }
.c-tabs li { float: left; margin-right: 30px; }
.c-tabs li a { display: block; padding-bottom: 12px; font-size: 16px; border-bottom: 2px solid transparent; }
.c-tabs li.active a, .c-tabs li:hover a { color: #FE322B; border-bottom: 2px solid #FE322B; }

.c-tab-btns { overflow: hidden; }
.c-tab-btns li { float: left; margin-right: 10px; margin-bottom: 10px; background-color: #ffffff; }
.c-tab-btns li a { height: 32px; display: block; border: 1px solid #D5D5D5; border-radius: 2px; line-height: 30px; padding: 0 20px 0 10px; position: relative; }
.c-tab-btns li a.active { border-color: #FE322B; }
.c-tab-btns li a.active:after { content: ''; width: 18px; height: 15px; background: url("../img/icon-check.png") no-repeat; position: absolute; bottom: -1px; right: -1px; }

/* 按钮 */
.btn { display: inline-block; height: 40px; border: 1px solid #D5D5D5; border-radius: 4px; text-align: center; font-size: 12px; line-height: 40px; }
.btn-main { display: inline-block; height: 40px; background-color: #FE322B; color: #ffffff; border-radius: 4px; text-align: center; line-height: 40px; }
.btn-border { display: inline-block; height: 40px; border: 1px solid #FE322B; background-color: #ffffff; color: #FE322B; border-radius: 4px; text-align: center; line-height: 40px; }
.btn-more { width: 152px; height: 32px; line-height: 30px; color: #333333; }

/* 输入框 */
.ip-text { height: 32px; border: 1px solid #D5D5D5; line-height: 30px; font-size: 12px; padding: 0 10px; background-color: #ffffff; }
.ip-text::-webkit-input-placeholder { color: #999999; }

/* 下拉框 */
.cSelects { position: relative; }
.cSelects .cSelects-item { height: 24px; border: 1px solid rgba(0, 0, 0, .1); line-height: 22px; padding: 0 22px 0 8px; font-size: 12px; background: url("../img/arrow4.png") no-repeat; background-position: calc(100% - 10px) center; background-position: -webkit-calc(100% - 10px) center; background-color: #ffffff; }
.cSelects select { width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; }

/* tag */
.c-tag { height: 24px; border: 1px solid #D5D5D5; display: inline-block; line-height: 22px; padding: 0 10px; color: #999999; background-color: #ffffff; }
.c-tag-main { height: 24px; border: 1px solid #FE322B; display: inline-block; line-height: 22px; padding: 0 10px; color: #FE322B; background-color: rgba(254, 50, 43, 0.1); }
.c-tag-yel { height: 22px; display: inline-block; line-height: 22px; font-size: 12px; padding: 0 8px; color: #ffffff; background-color: #FC7F1B; border-radius: 2px; }

/* 箭头 */
.link { padding-right: 16px; background: url("../img/arrow1.png") no-repeat; background-size: 12px; background-position: right center; }
.link-main { padding-right: 16px; background: url("../img/arrow2.png") no-repeat; background-size: 12px; background-position: right center; }
.a-down { padding-right: 16px; background: url("../img/arrow4.png") no-repeat; background-size: 12px; background-position: right center; }
.a-up { padding-right: 16px; background: url("../img/arrow10.png") no-repeat; background-size: 12px; background-position: right center; }
.a-back { padding-left: 26px; background: url("../img/arrow11.png") no-repeat; background-size: 16px; background-position: left center; }

/* 数量加减 */
.c-nums { width: 110px; height: 32px; border: 1px solid #D5D5D5; border-radius: 2px; overflow: hidden; }
.c-nums .c-nums-btn { width: 30px; height: 30px; text-align: center; font-family: 黑体; font-size: 20px; line-height: 30px; background-color: #F5F5F5; float: left; cursor: pointer; }
.c-nums input { width: 48px; height: 30px; background-color: #ffffff; border: none; border-left: 1px solid #D5D5D5; border-right: 1px solid #D5D5D5; text-align: center; line-height: 30px; float: left; }

.c-arrow-nums { width: 65px; height: 24px; border-radius: 2px; border: 1px solid #D5D5D5; overflow: hidden; }
.c-arrow-nums input { width: 43px; height: 22px; border-right: 1px solid #D5D5D5; line-height: 22px; padding-left: 10px; }
.c-arrow-nums>div { width: 20px; float: right; }
.c-arrow-nums .c-nums-prev, .c-arrow-nums .c-nums-next { width: 20px; height: 11px; background-position: center center; background-size: 9px; background-repeat: no-repeat; cursor: pointer; }
.c-arrow-nums .c-nums-prev { background-image: url("../img/arrow7.png"); border-bottom: 1px solid #D5D5D5; }
.c-arrow-nums .c-nums-next { background-image: url("../img/arrow6.png") }

/* 边框 */
.box-frame { border: 1px solid #D5D5D5; padding: 20px; }


   /*
      页面模块
   */
/* 最底部导航栏 */
.shortcut { height: 50px; background-color: #F5F5F5; }
.shortcut .w>p, .shortcut .w>div { line-height: 50px; }
.shortcut .wel { width: 240px; }
.shortcut ul { height: 50px; }
.shortcut ul li { height: 100%; float: left; position: relative; }
.shortcut ul li>a { height: 20px; display: block; line-height: 20px; padding: 0 20px; border-left: 1px solid #D5D5D5; margin-top: 15px; }
.shortcut li .c-pop { left: -80px; display: none; }
.shortcut li:hover .c-pop { display: block; }
.shortcut .message .btns { background-color: #F5F5F5; border: 1px solid #D5D5D5; height: 32px; overflow: hidden; margin-top: 10px; }
.shortcut .message .btns a { width: 100%; float: left; height: 32px; line-height: 32px; text-align: center; font-size: 12px; color: #999999; }
.shortcut .message .btns a:first-child { border-right: 1px solid #D5D5D5; }
.shortcut .message .message-list { height: 168px; overflow-y: auto; }
.shortcut .message .message-list::-webkit-scrollbar { width: 6px; background-color: #F5F5F5; }
.shortcut .message .message-list::-webkit-scrollbar-thumb { width: 6px; background-color: #D5D5D5; }
.shortcut .message .message-list .message-item { padding-left: 28px; position: relative; border-bottom: 1px solid #E5E5E5; margin: 0 10px; overflow: hidden; }
.shortcut .message .message-list .message-item:before { content: ''; width: 8px; height: 8px; border-radius: 50%; background-color: #FF000D; position: absolute; left: 0; top: 28px; }
.shortcut .message .message-list .message-item a { display: block; line-height: 22px; margin-top: 10px; }
.shortcut .message .message-list .message-item a:hover { color: #FE322B; }
.shortcut .message .message-list .message-item p { font-size: 12px; color: #999999; line-height: 22px; margin-bottom: 10px; }
.shortcut .download .c-pop { width: 220px; left: -60px }
.shortcut .download-item { margin: 20px 0 20px 20px; float: left; width: 80px; }
.shortcut .download-item div { width: 80px; height: 80px; background-color: #D8D8D8; }
.shortcut .download-item div img { width: 100%; height: 100%; display: block; }
.shortcut .download-item p { font-size: 12px; margin-top: 5px; }
.shortcut .p-menu .c-pop { width: 120px; left: -10px; display: none; }
.shortcut .p-menu:hover .c-pop { display: block; }
.shortcut .p-menu .c-pop a { display: block; margin: 10px 0; text-align: center; line-height: 22px; }
.shortcut .p-menu .c-pop a:hover { color: #FE322B; }

   /* 头部操作栏 */
.header { height: 178px; }
.header2 { height: 114px; }
.header .logo { position: absolute; left: 0; top: 30px; }

.search-box { width: 550px; margin: 20px auto; }
.search-box .search-inputs { width: 550px; height: 44px; border-radius: 25px; border: 2px solid #FE322B; position: relative; }
.search-box .search-inputs input { width: 100%; height: 100%; line-height: 36px; font-size: 14px; color: #333333; padding: 0 116px 0 20px; border: none; }
.search-box .search-inputs button { width: 96px; height: 44px; border-radius: 22px; background-color: #FE322B; position: absolute; top: -2px; right: -2px; border: none; font-size: 18px; color: #ffffff; text-align: center; line-height: 40px; }
.search-box .hot-list { overflow: hidden; margin-top: 10px; margin-left: 20px; }
.search-box .hot-list li { margin-right: 20px; float: left; }
.search-box .hot-list li a { color: #999999 }

.header .btn-cart { width: 118px; height: 44px; border-radius: 25px; border: 2px solid #FE322B; display: block; line-height: 40px; text-align: center; position: absolute; top: 20px; right: 0;  }
.header .btn-cart img { margin-right: 10px; vertical-align: middle; }
.header .btn-cart span { width: 16px; height: 16px; border-radius: 50%; background-color: #FE322B; font-size: 12px; line-height: 16px; text-align: center; color: #ffffff; position: absolute; top: 3px; left: 37px; }

.goods-catalog { float: left; position: relative; }
.goods-catalog .bt1 { width: 240px; height: 65px; display: block; line-height: 65px; background: #FE322B; border-radius: 4px 4px 0px 0px; padding-left: 20px; color: #ffffff; font-size: 18px; }
.goods-catalog .goods-catalog-l1 { width: 240px; position: absolute; top: 65px; left: 0; background-color: #ffffff; padding-top: 20px; display: none; }
.goods-catalog .goods-catalog-l1-show { display: block; }
.goods-catalog:hover .goods-catalog-l1 { display: block; }
.goods-catalog .goods-catalog-l1>li { width: 100%; height: 60px; background: url('../img/arrow1.png') no-repeat; background-position: 204px center;  }
.goods-catalog .goods-catalog-l1>li>img { width: 32px; height: 32px; border-radius: 50%; margin: 14px 10px 0 20px; float: left; }
.goods-catalog .goods-catalog-l1>li>h3 { width: 146px; float: left; margin-top: 20px; }
.goods-catalog .goods-catalog-l1>li:hover { background-color: #F5F5F5; background-image: url("../img/arrow2.png"); }
.goods-catalog .goods-catalog-l1>li:hover>h3 { color: #FE322B; }
.goods-catalog .goods-catalog-l2 { width: 540px; min-height: 360px; background: #FFFFFF; border-radius: 0px 8px 8px 0px; position: absolute; top: 20px; left: 240px; display: none; padding: 20px; }
.goods-catalog .goods-catalog-l1>li:hover .goods-catalog-l2 { display: block; }
.goods-catalog .goods-catalog-l2 li { width: 60px; margin: 0 20px 20px 20px; float: left; }
.goods-catalog .goods-catalog-l2 li div { width: 60px; height: 60px; border-radius: 50%; background-color: #F5F5F5; overflow: hidden;margin-bottom: 10px; font-size: 0; }
.goods-catalog .goods-catalog-l2 li div img { width: 100%; }
.goods-catalog .goods-catalog-l2 li h3 { text-align: center; }
.goods-catalog .goods-catalog-l2 li:hover h3 { color: #FE322B; }

.header .nav { float: left; margin-top: 20px; margin-left: 60px; }
.header .nav ul li { position: relative; float: left; margin-right: 60px; }
.header .nav ul li a { display: block; padding-bottom: 5px; font-size: 18px; line-height: 25px; border-bottom: 2px solid #ffffff; font-weight: 500; font-family: '黑体'; }
.header .nav ul li a.active,.header .nav ul li a:hover { border-bottom: 2px solid #FE322B; }
.header .nav ul li .hot { position: absolute; top: -10px; right: -28px; }

/* 底部导航栏 */
.footer { overflow: hidden; }
.footer .grid-line { width: 1px; height: 160px; background-color: #D5D5D5; float: left; margin: 0 117px 0 38px; }
.footer .logo { width: 190px; float: left; margin-right: 60px; }
.footer .qrcode-frame { margin-left: 85px; overflow: hidden; margin-bottom: 20px; }
.footer .qrcode-frame .qrcode-item { width: 120px; margin-right: 60px; float: left; }
.footer .qrcode-frame .qrcode-item div { width: 120px; height: 120px; background-color: #D8D8D8; font-size: 0; margin-bottom: 10px; }
.footer .copyright { height: 60px; border-top: 1px solid #D5D5D5; line-height: 60px; color: #999999; text-align: center; }

/* 注册登录框 */
.login-container { width: 660px; }
.login-container h3.title { font-size: 30px; margin: 90px 0 40px 0; text-align: center; }
.login-container .w { width: 368px; }
.login-container .form-item { height: 40px; position: relative; border-radius: 4px; border: 1px solid #D5D5D5; margin-bottom: 20px; }
.login-container .form-item .icon { width: 16px; height: 16px; margin: 12px 0 0 10px; float: left; }
.login-container .form-item input { width: 200px; width: calc(100% - 26px); width: -webkit-calc(100% - 26px); border: none; height: 100%; line-height: 38px; color: #333333; float: left; padding: 0 10px; }
.login-container .form-item .yzm { width: 78px; height: 38px; position: absolute; top: 0; right: 0; border-radius: 0 4px 4px 0; }
.login-container .form-item .warn { font-size: 12px; color: #FE322B; position: absolute; top: 100%; left: 0; }
.login-container .form-item .phone-pre { width: 70px; height: 100%; line-height: 38px; border-right: 1px solid #D5D5D5; padding-left: 12px; background: url("../img/arrow4.png") no-repeat 50px center; float: left; }
.login-container .form-item-pass input { background: url('../img/icon-pass.png') no-repeat; background-position: calc(100% - 10px) center; background-position: -webkit-calc(100% - 10px) center; }
.third-login h4 { text-align: center; display: table; white-space: nowrap; }
.third-login h4 span { display: inline-block; font-size: 18px; padding: 0 20px; }
.third-login h4:before,.third-login h4:after { content: ''; display: table-cell; position: relative; top: 50%; width: 50%; border-top: 1px solid #D5D5D5; transform: translateY(50%); }
.third-login div { text-align: center; margin-top: 20px; }
.third-login div a { margin: 0 45px; }

/* 产品列表 */
.goods-list { margin: 0 -10px; display: inline-block; }
.goods-list:after{ content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.goods-list .goods-item { float: left; margin: 0 10px 20px 10px; }
.goods-item { width: 224px; height: 329px; background-color: #ffffff; border-radius: 4px; position: relative; }
.goods-item .imgs { width: 184px; height: 184px; margin: 20px; overflow: hidden; }
.goods-item .imgs img { width: 100%; display: block; }
.goods-item .title { margin: 0 20px 18px 20px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; }
.goods-item .title .tag { height: 16px; line-height: 16px; font-size: 12px; color: #ffffff; padding: 0 4px; background-color: #FE322B; border-radius: 2px; margin-right: 5px; }
.goods-item .price { margin: 0 20px; font-size: 12px; color: #FE322B; }
.goods-item .price span { font-size: 18px; }

/* 在线客服 */
.btn-service { position: fixed; right: 60px; bottom: 60px; z-index: 2000; }

/* 面包屑 */
.c-bread-crumb { height: 46px; line-height: 46px; }
.c-bread-crumb .c-bread-crumb-item { display: inline-block; padding-right: 17px; margin-right: 5px; font-size: 12px; background: url("../img/arrow1.png") no-repeat right center; background-size: 12px; }
.c-bread-crumb .c-bread-crumb-current { background: none; color: #999999; }
.c-bread-crumb .search-condition { display: inline-block; margin-left: 20px; }
.c-bread-crumb .search-condition ul { display: inline-block; }
.c-bread-crumb .search-condition ul li,.c-bread-crumb .search-condition>a { display: inline-block; height: 22px; background: #FFFFFF; border-radius: 2px; border: 1px solid #D5D5D5; padding: 0 30px 0 10px; line-height: 20px; font-size: 12px; margin-left: 5px; position: relative; }
.c-bread-crumb .search-condition ul li a { width: 10px; height: 10px; background: url("../img/x.png") no-repeat; position: absolute; top: 5px; right: 10px; }
.c-bread-crumb .search-condition>a { padding: 0 10px; margin-left: 15px; }

.c-bread-crumb-block { overflow: hidden; }
.c-bread-crumb-block>.item { height: 65px; line-height: 65px; font-size: 18px; padding: 0 40px; float: left; }
.c-bread-crumb-block>.item.active { background-color: #FE322B; color: #ffffff; }

   /* 分页 */
.c-pages { text-align: center; overflow: hidden; }
.c-pages ul { display: inline-block; margin: 0 10px; overflow: hidden; }
.c-pages ul li,.c-pages .box { width: 32px; height: 32px; border: 1px solid #D5D5D5; border-radius: 2px; line-height: 32px; text-align: center; float: left; margin: 0 5px; background-color: #ffffff; padding: 0 10px; }
.c-pages .box { width: auto;}
.c-pages ul li.prevBtn { background: url("../img/arrow5.png") no-repeat; background-position: center center; background-color: #ffffff; }
.c-pages ul li.nextBtn { background: url("../img/arrow1.png") no-repeat; background-position: center center; background-color: #ffffff; }
.c-pages ul li.active { background-color: #FE322B; border-color: #FE322B; }
.c-pages ul li.active a { color: #ffffff; }
.c-pages .c-pages-elevator { display: inline-block; line-height: 32px; overflow: hidden; }
.c-pages .c-pages-elevator span { float: left; margin: 0 5px; }
.c-pages .c-pages-elevator input { width: 48px; }

/* 猜你喜欢 */

.guess-swiper-pagination { right: 0; top: 13px; }
.guess-swiper-pagination .swiper-pagination-bullet { margin: 0 5px; background-color: #D5D5D5; }
.guess-swiper-pagination .swiper-pagination-bullet-active { background-color: #999999 }

.guess-swiper { height: 360px; padding-top: 8px; }
.guess-list { margin: 0 -13px; }
.guess-list .goods-item { float: left; margin: 0 13px; width: 280px; height: 345px; box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08); }
.guess-list .goods-item .imgs { width: 220px; height: 220px; margin: 30px; }
.guess-list .goods-item .title {  -webkit-line-clamp: 1; line-clamp: 1; margin-bottom: 10px; }
.guess-list .goods-item .btn-border { width: 84px; height: 25px; line-height: 23px; font-size: 12px; border-radius: 2px; }
.guess-swiper .swiper-button-next, .guess-swiper .swiper-button-prev { width: 60px; height: 60px; margin-top: -30px; background-size: 100% 100%; display: none; }
.guess-swiper:hover .swiper-button-next, .guess-swiper:hover .swiper-button-prev { display: block; }
.guess-swiper .swiper-button-next {  background-image: url("../img/arrow9.png"); }
.guess-swiper .swiper-button-prev { background-image: url("../img/arrow8.png"); }

/* 个人导航框架 */
.p-content { position: relative; }
.p-menu { width: 200px; position: absolute; top: 0; left: 0; background-color: #ffffff; padding-bottom: 70px;; }
.p-menu h3 { font-size: 16px; line-height: 22px; font-weight: bold; margin: 29px 0 19px 30px; }
.p-menu ul li { padding-left: 30px; margin-bottom: 20px; border-left: 2px solid #ffffff; }
.p-menu ul li:last-child { margin-bottom: 0; }
.p-menu ul li a { color: #666666; }
.p-menu ul li.active { border-left-color: #FE322B; }
.p-menu ul li.active a { color: #FE322B; }
.p-right { margin-left: 220px; }
