.enter-banner { width: 100%; height: 488px; background-repeat: no-repeat; background-position: center center; overflow: hidden; }
.enter-banner a { width: 220px; height: 70px; display: block; margin: 308px auto 0 auto; background: linear-gradient(270deg, #FEB63A 0%, #FC7F1B 100%); border-radius: 4px; text-align: center; color: #ffffff; overflow: hidden; }
.enter-banner a h3 { font-size: 18px; line-height: 25px; margin-top: 10px; margin-bottom: 5px; background-image: url("../img/arrow12.png"); background-repeat: no-repeat; background-position: 156px 7px; }
.enter-banner a p { font-size: 14px; line-height: 20px; }

.progress { height: 163px; background-color: #FE6A5A; text-align: center; padding-top: 40px; margin-bottom: 60px; }

.enter-titls { margin-bottom: 60px; text-align: center; }
.enter-titls h2 { font-size: 30px; line-height: 42px; margin-bottom: 20px; }
.enter-titls p { font-size: 18px; line-height: 25px; margin-bottom: 20px; }
.enter-titls div { width: 60px; height: 4px; background: #FE322B; margin: 0 auto; }

.enter-list1 { margin-bottom: 120px; }
.enter-list1 .item { width: 350px; height: 424px; background: #FFFFFF; box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.08); border-radius: 4px; margin-right: 75px; position: relative; float: left; }
.enter-list1 .item:last-child { margin-right: 0; }
.enter-list1 .item .img { width: 100%; display: block; margin-bottom: 80px; }
.enter-list1 .item .icon { width: 100px; position: absolute; top: 165px; left: 125px; }
.enter-list1 .item h3 { font-size: 18px; line-height: 25px; text-align: center; margin-bottom: 20px; }
.enter-list1 .item p { line-height: 30px; text-align: center; }

.enter-list2 { margin: 0 -44px 60px -44px; position: relative; }
.enter-list2 .item { width: 340px; height: 175px; background: url("../img/enter/bg.png") no-repeat; float: left; margin: 0 44px 40px 44px; position: relative; }
.enter-list2 .item .rank { width: 60px; height: 60px; border-radius: 50%; background: #FC7F1B; border: 5px solid rgba(252, 127, 27, 0.3); font-size: 30px; font-family: 黑体; text-align: center; line-height: 50px; position: absolute; top: 58px; left: 0; color: #ffffff; }
.enter-list2 .item h3 { padding-left: 80px; margin-top: 40px; font-size: 18px; margin-bottom: 10px; background: url("../img/enter/dot.png") no-repeat 67px center; }
.enter-list2 .item p { width: 210px; margin-left: 80px; margin-top: 40px; line-height: 20px; }
.enter-list2>a { width: 150px; height: 55px; border-radius: 4px; position: absolute; bottom: 60px; right: 140px; font-size: 18px; line-height: 55px; text-align: center; color: #ffffff; background: url("../img/arrow12.png") no-repeat 115px center; background-color: #FC7F1B; }
