.store-item { border: 1px solid #D5D5D5; height: 240px; margin-bottom: 20px; overflow: hidden; }
.store-item .left { width: 240px; border-right: 1px solid #D5D5D5; height: 100%; float: left; }
.store-item .left .avatar { width: 60px; height: 60px; margin: 20px auto 10px auto; }
.store-item .left .line1 { height: 22px; line-height: 22px; text-align: center; margin-bottom: 10px; }
.store-item .left .line1 .title { height: 22px; line-height: 22px; max-width: 155px; display: inline-block; font-weight: bold; margin-right: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; }
.store-item .left .line2 { font-size: 12px; color: #666666; text-align: center; margin-bottom: 22px; }
.store-item .left .line3 { font-size: 12px; color: #999999; text-align: center; margin-bottom: 20px;  }
.store-item .left .line3 ul { display: inline-block; margin-left: 5px; vertical-align: middle; }
.store-item .left .line3 ul li { width: 12px; float: left; }
.store-item .left .line3 ul li img { width: 100%; }
.store-item .left .line4 { border-top: 1px solid #D5D5D5; overflow: hidden; background-color: #F5F5F5; }
.store-item .left .line4 a { width: 50%; height: 40px; line-height: 40px; float: left; font-size: 12px; text-align: center; }
.store-item .left .line4 a img { width: 24px; margin-right: 5px; vertical-align: middle; }
.store-item .left .line4 a:first-child { border-right: 1px solid #D5D5D5; }

.store-item .right { padding: 20px; }
.store-item .right .goods-list { margin: 20px 0 20px 20px; }
.store-item .right .goods-list .goods-item { width: 100px; height: 130px; margin: 0 10px; }
.store-item .right .goods-list .goods-item .imgs { width: 100px; height: 100px; margin: 0 0 10px 0; }
.store-item .right .goods-list .goods-item .price { text-align: center; font-size: 10px; }
.store-item .right .goods-list .goods-item .price span { font-size: 12px; }

.empty { margin: 60px 0; text-align: center; }
.empty img { margin-bottom: 20px; }
.empty p { margin-bottom: 20px; }
.empty .btn-main { width: 108px; height: 32px; line-height: 32px; }

.follow-list { margin: 20px -15px; }
.follow-list .goods-item { width: 280px; height: 345px; box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08); margin: 0 15px 20px 15px; }
.follow-list .goods-item .imgs { width: 220px; height: 220px; margin: 30px 30px 20px 30px; }
.follow-list .goods-item .title { -webkit-line-clamp: 1; line-clamp: 1; }

.follow-list .goods-item .btns { width: 100%; position: absolute; top: 0; left: 0; display: none; }
.follow-list .goods-item .btns a { width: 50%; height: 32px; float: left; line-height: 32px; text-align: center; color: #ffffff; background: rgba(0, 0, 0, 0.5); }
.follow-list .goods-item .btns a:last-child { border-left: 1px solid #ffffff; }
.follow-list .goods-item:hover .btns { display: block; }
.follow-list .goods-item:hover .btns a:hover { background-color: #FE322B; }

