.prodetail-main { padding: 20px; background-color: #ffffff; }

/* box */
.zoombox { width:500px; float: left; position: relative; }
.tb-pic a { display: table-cell; text-align: center; vertical-align: middle; }
.tb-pic a img{ vertical-align: middle; }
.tb-pic a { *display: block; *font-family: Arial; *line-height: 1;}
.tb-s40 a{ *font-size:35px; }
.tb-s40, .tb-s40 a{height:40px;width:40px;}
.tb-booth { width: 500px; height: 500px; border:1px solid #CDCDCD; position:relative; z-index:1; }
.tb-booth a { width: 500px; height: 500px; }
.tb-booth a img { width: 500px; max-height: 500px; }
div.zoomDiv { z-index:999; position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; background: #ffffff; border: 1px solid #CCCCCC; display: none; text-align: center; overflow: hidden; }
div.zoomMask { position:absolute; background:url("http://demo.lanrenzhijia.com/2015/jqzoom0225/images/mask.png") repeat scroll 0 0 transparent; cursor:move; z-index:1; }

.min-pics-swiper { width: 440px; margin-top: 20px; margin-bottom: 20px; }
.min-pics-swiper .swiper-slide { width: 90px; height: 90px; border: 1px solid #D5D5D5; border-radius: 2px; overflow: hidden; }
.min-pics-swiper .swiper-slide img { width: 100%; }
.min-pics-swiper .swiper-slide-selected { border-color: #FE322B; }
.zoombox .swiper-button-next { width: 20px; height: 20px; background: url("../img/arrow1.png") no-repeat; background-size: 20px 20px; top: 555px; right: 0; margin-top: 0; }
.zoombox .swiper-button-prev { width: 20px; height: 20px; background: url("../img/arrow5.png") no-repeat; background-size: 20px 20px; top: 555px; left: 0; margin-top: 0; }

.prodetail-main-infos { width: 620px; float: left; margin-left: 20px; }
.prodetail-main-infos .l { width: 80px; line-height: 24px; color: #999999; float: left; }
.prodetail-main-infos .r { width: 500px; float: left; }
.prodetail-main-infos .price { color: #FE322B; font-family: 黑体; }
.prodetail-main-infos .price span { font-size: 30px; font-family: 黑体; }
.prodetail-main-infos .cp-list { float: left; margin-right: 20px; }
.prodetail-main-infos .cp-list li { float: left; margin-right: 10px; }
.prodetail-main-infos .btn-group { margin-left: 20px; }
.prodetail-main-infos .btn-group button { width: 116px; margin-right: 20px; }

.titles { text-align: center; }
.titles h3 { font-size: 18px; position: relative; display: inline-block; }
.titles h3:before, .titles h3:after { content: ''; display: inline-block; width: 40px; height: 2px; background-color: #333333; vertical-align: middle; margin: 0 20px; }

.current-goods { width: 110px; float: left; }
.current-goods div { width: 110px; height: 110px; overflow: hidden; margin-bottom: 10px; }
.current-goods div img { width: 100%; display: block; }
.current-goods p { font-size: 12px; line-height: 16px; }
.icon-add { font-size: 40px; line-height: 20px; font-family: 黑体; float: left; margin: 50px 70px 0 40px; }
.rec-list { width: 880px; float: left; position: relative; }
.rec-swiper { width: 780px; height: 150px; margin: 0 auto; }
.rec-swiper .swiper-slide { width: 240px; height: 110px; }
.rec-list .rec-next, .rec-list .rec-prev { width: 20px; height: 70px; background: #FFFFFF; border: 1px solid #D5D5D5; background: url("../img/arrow1.png") no-repeat; background-size: 20px 20px; background-position: center center; position: absolute; top: 25px; cursor: pointer; }
.rec-list .rec-prev { left: 0; background-image: url("../img/arrow5.png") }
.rec-list .rec-next { right: 0; }
.rec-item .imgs {  width: 110px; height: 110px; overflow: hidden; float: left; margin-right: 10px; }
.rec-item .imgs  img { width: 100%; display: block; }
.rec-item .forms { width: 120px; float: left; }
.rec-item .price { text-align: center; margin-top: 20px; }
.rec-item .price p { font-size: 12px; color: #FE322B; display: inline-block; }
.rec-item .price p span { font-size: 14px; }
.rec-total { text-align: right; }
.rec-total span { font-size: 12px; color: #999999; line-height: 32px; }
.rec-total p { font-size: 12px; color: #FE322B; display: inline-block; line-height: 32px; margin-left: 5px; }
.rec-total p span { font-size: 18px; color: #FE322B; }
.rec-total button { width: 96px; height: 32px; line-height: 32px; margin-left: 40px; }

.content-box { width: 260px; background-color: #ffffff; border-radius: 4px; padding-bottom: 20px; }
.content-box .content-title { padding: 9px 10px; border-bottom: 1px solid #D5D5D5; font-family: 黑体; font-weight: bold; }
.content-box .content-title span { font-weight: normal; margin-right: 5px; }
.store-btns { margin: 0 20px; }
.store-btns a { width: 105px; height: 40px; border: 1px solid #D5D5D5; background-color: #F5F5F5; line-height: 38px; text-align: center; border-radius: 2px; }

.stor-rec-goods { margin: 20px; display: block; }
.stor-rec-goods .imgs { width: 220px; height: 220px; overflow: hidden; margin-bottom: 10px; }
.stor-rec-goods .imgs img { width: 100%; display: block; }
.stor-rec-goods .name { margin-bottom: 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.stor-rec-goods .price { font-size: 12px; color: #FE322B; }
.stor-rec-goods .price span { font-size: 14px; }

.prodetail-intros .content-box { width: 920px; }

.params-table { overflow: hidden; border-top: 1px solid #D5D5D5; border-left: 1px solid #D5D5D5; }
.params-table li { width: 50%; height: 32px; float: left; border-bottom: 1px solid #D5D5D5; border-right: 1px solid #D5D5D5; }
.params-table li .th,.params-table li .td { height: 100%; line-height: 30px; font-size: 12px; }
.params-table li .th { width: 106px; background-color: #F5F5F5; color: #666666; text-align: center; }
.params-table li .td { padding-left: 40px; }
.prodetail-intros .content-title { height: 40px; line-height: 40px; padding: 0 0 0 40px; background-color: #F5F5F5; border-bottom: none; }
.prodetail-intros .content-title a { margin-right: 40px; }
.prodetail-intros .content-title a.active { color: #FE322B; }

.price-table { margin: 20px 86px 40px 76px; }
.price-table li { height: 32px; font-size: 12px; color: #999999; }
.price-table li.th { height: 40px; font-size: 14px; color: #333333; font-weight: bold; border-bottom: 1px solid #D5D5D5; border-top: 1px solid #D5D5D5; }
.price-table li.th:last-child { border-bottom: none; }
.price-table li.th:first-child { border-top: none; }

.comment-total { width: 156px; float: left; margin: 40px 0 20px 40px; }
.comment-total p { margin-bottom: 10px; }
.comment-total div { font-size: 36px; color: #FE322B; line-height: 48px; }
.comment-total div span { font-size: 60px; }
.comment-tags { width: 684px; float: left; margin-top: 40px; overflow: hidden; }
.comment-tags .c-tag { margin: 0 15px 15px 0; float: left; }

.comment-item { margin-left: 40px; padding-bottom: 20px; border-bottom: 1px solid #D5D5D5; margin-bottom: 20px; padding-right: 20px; }
.comment-item .person { width: 150px; float: left; margin-right: 5px; }
.comment-item .person img { width: 40px; height: 40px; border-radius: 50%; margin-right: 10px; }
.comment-item .person span { width: 100px; font-size: 12px; }
.comment-item .contents { width: 685px; float: left; }
.comment-item .contents .media-list { overflow: hidden; }
.comment-item .contents .media-list li { width: 60px; height: 60px; float: left; margin: 0 10px 10px 0; overflow: hidden; }
.comment-item .contents .media-list li img { width: 100%; }


.cp-container { width: 280px; height: 100vh; position: fixed; top: 0; right: -280px; background-color: #EEEEEE; z-index: 1000; -webkit-transition: right .3s ease-out;-o-transition: right .3s ease-out;transition: right .3s ease-out; }
.cp-container .top { height: 50px; margin: 0 20px; }
.cp-container .cp-titles { margin: 0 20px; height: 58px; }
.cp-container .cp-titles p { width: 100px; text-align: center; font-size: 12px; position: relative; }
.cp-container .cp-titles p:before, .cp-container .cp-titles p:after { content: ''; width: 5px; height: 5px; border-radius: 50%; background-color: #D8D8D8; position: absolute; top: 50%; margin-top: -2.5px }
.cp-container .cp-titles p:before { left: 0; }
.cp-container .cp-titles p:after { right: 0; }
.cp-container .cp-titles .line { width: 70px; height: 1px; background-color: #D8D8D8; }
.cp-container .cp-item { width: 240px; height: 120px; margin: 0 auto 20px auto; background: url("../img/bg4.png") no-repeat; padding: 20px; position: relative; }
.cp-container .cp-item .price { font-size: 18px; color: #FE322B; line-height: 24px; }
.cp-container .cp-item .price span { font-size: 30px; font-family: 黑体; font-weight: bold; }
.cp-container .cp-item a { width: 22px; position: absolute; top: 20px; right: 0; color: #ffffff; }
.cp-container .cp-item .icon { position: absolute; bottom: 5px; right: 35px; }
.cp-container .cp-suc { margin: 0 20px; background-color: #FEF2E8; padding: 20px 20px 10px 20px; }
.cp-container .cp-suc div { color: #FE322B; text-align: center; margin-bottom: 10px; }
.cp-container .cp-suc p { color: #666666; font-size: 12px; }
