#index-swiper { width: 680px; height: 360px; float: left; margin-left: 260px; }
#index-swiper .index-bullet-active { background-color: #ffffff; opacity: 1; }

.index-panel { width: 240px; height: 360px; float: left; margin-left: 20px; background-color: #ffffff; position: relative; }
.index-panel h3 { text-align: center; margin-bottom: 10px; }
.index-panel ul { margin-bottom: 20px; }
.index-panel li { font-size: 12px; color: #666666; overflow: hidden; margin: 0 20px 10px 20px; }
.index-panel li a { width: 144px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #666666; }
.index-panel li span { float: right; }
.index-panel .welcome { width: 200px; height: 131px; background: #FFFFFF; box-shadow: 0px 3px 8px 0px rgba(254, 50, 43, 0.07); border-radius: 2px; position: absolute; top: 20px; left: 20px; }
.index-panel .welcome p { height: 40px; line-height: 40px; margin: 25px 0 20px 0; text-align: center; }
.index-panel .welcome div { text-align: center }
.index-panel .welcome div button { width: 64px; height: 26px; line-height: 26px; border-radius: 13px; margin: 0 8px; font-size: 12px; }

.sec-title { overflow: hidden; margin: 40px 0 20px 0; }
.sec-title h2 { font-size: 30px; float: left; }
.sec-title a { width: 97px; height: 32px; line-height: 32px; border-radius: 2px; float: right; color: #999999; padding-left: 10px; background: url('../img/arrow1.png') no-repeat 70px center; background-color: #ffffff; }

.rec-goods-item { background: url('../img/bg2.png') no-repeat; }
.rec-goods-item .title { font-size: 18px; color: #ffffff; margin-top: 30px; margin-bottom: 10px; }
.rec-goods-item .price { color: #ffffff; margin-bottom: 22px; }
.rec-goods-item .imgs { height: 156px; margin-bottom: 0; }

.hot-goods-item { width: 280px; height: 386px; float: left; }
.hot-goods-item .imgs { width: 240px; height: 240px; margin-top: 30px; }
.hot-goods-item .title {  -webkit-line-clamp: 1; line-clamp: 1; margin-bottom: 4px; }
.hot-goods-item .catalog { font-size: 12px; color: #999999; margin-bottom: 10px; margin-left: 20px; }
.hot-goods-item .price { float: left; }
.hot-goods-item .rank { width: 65px; height: 28px; line-height: 28px; background: linear-gradient(312deg, #FC7F1B 0%, #FE322B 100%); border-radius: 4px 0px 18px 0px; font-size: 16px; color: #ffffff; text-align: center; font-weight: bold; position: absolute; top: 0; left: 0; }

.hot-list { width: 920px; float: left; }
.hot-list .hot-goods-item { width: 440px; height: 188px; margin-left: 20px; margin-bottom: 10px; }
.hot-list .hot-goods-item .imgs { width: 136px; height: 136px; float: left; margin: 30px 40px 0 26px; }
.hot-list .hot-goods-item .title { margin-top: 40px; margin-bottom: 10px; margin-left: 0; }
.hot-list .hot-goods-item .catalog { margin-bottom: 20px; margin-left: 0; }
.hot-list .hot-goods-item .price { margin-left: 0; }

.tools-list { margin: 0 -2.5px 80px -2.5px; }
.tools-list .goods-item { margin: 0 2.5px; }
.tools-list .goods-item .imgs { width: 178px; height: 178px; margin: 23px; }
.tools-list .tools-goods-item { width: 284px; background: url("../img/bg3.png") no-repeat; }
.tools-list .tools-goods-item .title { color: #ffffff; margin-top: 30px; margin-bottom: 5px; -webkit-line-clamp: 1; line-clamp: 1; font-size: 18px; }
.tools-list .tools-goods-item .price { display: inline-block; margin-bottom: 10px; height: 32px; border-radius: 16px; background-color: #3388D4; color: #ffffff; line-height: 32px; padding: 0 16px; }
.tools-list .tools-goods-item .imgs { width: 172px; height: 172px; margin-top: 0; margin-left: auto; margin-right: auto; }

.silde-nav { width: 50px; background-color: #ffffff; border-radius: 8px; position: fixed; top: 50%; left: 0; margin-top: -120px; }
.silde-nav ul { margin: 0 10px; }
.silde-nav ul li { height: 60px; border-bottom: 1px solid #D5D5D5; display: table; cursor: pointer; }
.silde-nav ul li.active { color: #FE322B; }
.silde-nav ul li:last-child { border-bottom: none; }
.silde-nav ul li span { display: table-cell; vertical-align: middle; }
