.p-menu { height: 260px; }

.empty { text-align: center; margin: 60px 0; }
.empty img { margin-bottom: 20px; }

.msg-title { position: relative; }
.msg-title .nums { width: 20px; height: 20px; border-radius: 50%; background-color: #FE322B; font-size: 12px; color: #ffffff; text-align: center; line-height: 20px; position: absolute; top: -10px; left: 65px; font-weight: normal; }

.msg-title .btn { width: 80px; height: 32px; line-height: 30px; font-size: 12px; margin-left: 10px; border-radius: 2px; }
.msg-title .btn:hover { background-color: #FE322B; color: #ffffff; border-color: #FE322B; }

.msg-list { margin: -20px -40px 40px -40px; }
.msg-list li { padding: 0 40px; }
.msg-list li:hover { background-color: #F5F5F5; }
.msg-list .msg-item { border-bottom: 1px solid #D5D5D5; padding: 20px 0 20px 20px; position: relative; overflow: hidden; }
.msg-list .msg-item .btns { position: absolute; bottom: 10px; right: 0; display: none; }
.msg-list li:hover .msg-item .btns { display: block; }
.msg-list .msg-item .btns .btn { height: 24px; line-height: 22px; padding: 0 10px; margin-left: 5px; border-radius: 2px; }
.msg-list .msg-item .btns .btn:hover { background-color: #FE322B; color: #ffffff; border-color: #FE322B; }
.msg-list .msg-item-dot:before { content: ''; width: 8px; height: 8px; border-radius: 50%; background-color: #FE322B; position: absolute; top: 37px; left: 0; }

.msg-detail .titles { padding-bottom: 20px; border-bottom: 1px solid #D5D5D5; margin-bottom: 20px; }
.msg-detail .titles div { font-size: 18px; text-align: center; margin-bottom: 20px; font-weight: bold; }
.msg-detail .titles p { font-size: 12px; color: #999999; text-align: center; }

.setting-list { margin-top: -20px; }
.setting-list li { height: 60px; border-bottom: 1px solid #D5D5D5; }
.setting-list li h5 { float: left; margin: 20px 40px 0 0; line-height: 20px; }
.setting-list li span { float: left; margin-top: 20px; line-height: 20px; color: #999999; }
.setting-list li .switch { float: right; margin-top: 19px; }
