/*
   订单中心
*/

.order-table { margin: 20px 0; }
.order-thead { height: 40px; background-color: #F5F5F5; margin-bottom: 20px; }
.order-thead .th { float: left; text-align: center; height: 40px; line-height: 40px; font-weight: bold; position: relative; }
.order-thead .status-list { width: 116px; background: #FFFFFF; box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15); border-radius: 2px; position: absolute; top: 100%; left: 4px; padding: 10px 0; display: none; }
.order-thead .status-list li { height: 32px; line-height: 32px; text-align: center; font-weight: normal; cursor: pointer; }
.order-thead .status-list li.active { color: #FE322B; }
.order-thead .status-list li:hover { color: #FE322B; background-color: #F5F5F5; }
.order-table .t-infos { width: 260px; }
.order-table .t-price { width: 120px; }
.order-table .t-nums { width: 35px; }
.order-table .t-btns { width: 120px; }
.order-table .t-pay { width: 120px; }
.order-table .t-state { width: 120px; }
.order-table .t-rent { width: 98px; }
.order-table .t-state:hover .status-list { display: block; }
.order-table .t-col { width: 540px; }
.order-table .t-col2 { width: 660px; }

.buy-order .t-infos { margin-right: 40px; }
.buy-order .t-col { width: 560px; }

.order-tbody { margin-bottom: 40px; }

.order-item { border: 1px solid #D5D5D5; margin-bottom: 20px; }
.order-item .head { height: 24px; background-color: #F5F5F5; overflow: hidden; }
.order-item .head p { height: 24px; line-height: 24px; font-size: 10px; color: #999999; float: left; margin-left: 20px; }
.order-item .head p span { color: #333333; }
.order-item .head div { height: 24px; line-height: 24px; float: left; margin-left: 60px; }
.order-item .head div img { vertical-align: middle; }
.order-item .head a { font-size: 12px; height: 24px; line-height: 24px; margin-right: 20px; float: right; }

.order-item .order-tr { display: inline-block; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch; border-bottom: 1px solid #D5D5D5; }
.order-item .order-tr:last-child { border-bottom: none; }
.order-item .order-tr .td { float: left; border-right: 1px solid #D5D5D5; padding-top: 20px; font-size: 12px; }
.order-item .order-tr .td:last-child { border-right: none; }
.order-item .order-tr .td p { text-align: center; }
.order-item .order-tr .td .btn-border { width: 80px; height: 24px; line-height: 22px; font-size: 12px; }
.order-item .order-tr .td .item { border-bottom: 1px solid #D5D5D5; overflow: hidden; padding-bottom: 20px; margin-bottom: 20px; }
.order-item .order-tr .td .item:last-child { border-bottom: none; margin-bottom: 0; }
.order-item .order-tr .td .item>div { float: left; min-height: 60px; }
.order-item .order-tr .td .item .t-infos { width: 260px; }
.order-item .order-tr .td .item .imgs { float: left; width: 60px; height: 60px; border-radius: 4px; overflow: hidden; position: relative; margin-left: 20px; }
.order-item .order-tr .td .item .imgs img { width: 100%; }
.order-item .order-tr .td .item .imgs .tag { width: 14px; position: absolute; top: 0; left: 0; }
.order-item .order-tr .td .item .msgs { float: left; margin-left: 10px; width: 170px; }
.order-item .order-tr .td .item .msgs div { font-size: 12px; line-height: 17px; height: 34px; overflow: hidden; margin-bottom: 10px; }
.order-item .order-tr .td .item .msgs p { font-size: 12px; text-align: left; color: #999999; }


.cancel-modal { width: 580px; }
.cancel-modal .cancel-tabs { margin: 20px 30px; }
.cancel-modal .cancel-tabs li { width: 240px; text-align: center; margin: 0 10px 20px 10px; }

.checkIn-modal { width: 438px; }

#priceModal .c-modal-body { width: 458px; }
#expressModal .c-modal-body { width: 458px; }
