.selected-swiper { margin-bottom: 40px; margin-top: 20px; }
.selected-swiper .swiper-pagination-bullet { background-color: #D5D5D5; opacity: 1; }
.selected-swiper .index-bullet-active { background-color: #ffffff; }
.banner-item { height: 500px; border-radius: 4px; background-color: #ffffff; overflow: hidden; }
.banner-item .imgs { width: 600px; height: 100%; overflow: hidden; float: left; }
.banner-item .imgs img { width: 100%; display: block; }
.banner-item .infos { width: 480px; float: left; margin: 80px 0 0 60px; }
.banner-item .infos h2 { font-size: 36px; line-height: 50px; margin-bottom: 40px; }
.banner-item .infos .price { font-size: 24px; color: #FE322B; line-height: 33px; margin-bottom: 40px; }
.banner-item .infos .price span { font-size: 48px; font-family: 黑体; }
.banner-item .infos p { font-size: 14px; line-height: 20px; color: #666666; margin-bottom: 20px; }

.goods-container { height: 480px; border-radius: 4px; background-color: #ffffff; padding: 40px 0; position: relative; margin-bottom: 40px; }
.goods-container .titles { padding-bottom: 20px; border-bottom: 1px solid #D5D5D5; margin: 0 40px; }
.goods-container .titles h2 { font-size: 30px; line-height: 42px; margin-bottom: 10px; }
.goods-container .titles h3 { font-size: 18px; line-height: 25px; }
.goods-container .goods-swiper { margin: 0 20px; }
.goods-container .swiper-pagination { top: 100px; right: 35px; }
.goods-container .swiper-pagination .swiper-pagination-bullet { background-color: #D5D5D5; margin: 0 5px; }
.goods-container .swiper-pagination .swiper-pagination-bullet-active { background-color: #999999; }
.goods-container .goods-list { margin: 20px 0 40px 0; }
.goods-container .goods-list .goods-item { width: 204px; height: 284px; box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.05); margin: 0 20px; }
.goods-container .goods-list .goods-item .imgs { width: 144px; height: 144px; margin: 30px; }
.goods-container .goods-list .goods-item .title { -webkit-line-clamp: 1; line-clamp: 1; text-align: center; }
.goods-container .goods-list .goods-item .price { text-align: center; }
.goods-container .goods-list .first-item { width: 387px; }
.goods-container .goods-list .first-item .imgs { width: 387px; height: 284px; margin: 0; }
