@font-face {
    font-family: 'dosis';
    src:url('../font/Dosis-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
html,body{ height: 100%;}
#app {
    height: 100%;
    font-family:'dosis', Micro Yahei, 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-frame{ width: 100%; height: 100%; position: relative; overflow: hidden;}
body{ background-color: #000;}
.index-swiper{ height: 100%; color: #fff; cursor: url("../images/drag.png"),default;}

.footer-nav{ position: fixed; bottom:0; left: 0; right:0; z-index: 500; border-bottom: 2px solid #000;}
.footer-nav .btn-share{ position: absolute; left: 60px; bottom: 30px;}
.footer-nav .lines{ width: 287px; margin: 0 auto; overflow: hidden; position: relative;}
.footer-nav .lines li{ width: 1px; height: 2px; background-color: #fff; float: left; margin-right: 40px;}
.footer-nav .lines .bar{ width: 40px; height: 2px; background-color: #fff; position: absolute; left: 1px; bottom: 0; transition:all 0.5s cubic-bezier(.76,.05,.28,.96) ;}
.footer-nav .btn-customer{ position: absolute; right: 60px; bottom: 30px;}

.top-nav{  position: fixed; top: 40px; left: 60px; right: 60px; z-index: 500;}
.top-nav .logo{ float: left; margin-right: 100px;}
.top-nav .nav{ float: left;}
.top-nav .nav li{ float: left; margin-right: 50px;}
.top-nav .nav li:last-child{ margin-right: 0;}
.top-nav .nav li a{ color: #fff; font-size: 16px;}
.top-nav .btn-mall{ width: 260px; border: 2px solid #fff; font-size: 20px; float: right; padding: 8px 0; text-align: center; color: #fff; margin-top: -10px;}
.top-nav .nav2{ float: right; margin-right: 100px; margin-top: 5px;}
.top-nav .nav2 li{ margin-right: 40px;}
.top-nav .nav2 a{ font-size: 12px;}

.cover-post{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-size: cover; -webkit-background-size: cover; background-position: center center;}
.page1-content{ overflow: hidden;}
.page1-content video{ position: relative; top: 50%; left: 50%; margin: -540px 0 0 -960px;}
.page1-content .title{ width: 500px; position: absolute; top: 50%; left: 50%; margin: -45px 0 0 -250px;}
.page1-content .title p{ text-align: center; font-size: 30px; letter-spacing: 15px; margin-bottom: 20px;}
.page1-content .title div{ text-align: center; font-size: 24px; letter-spacing: 12px; color: rgba(255,255,255,0.4);}
.page1-content .hint{ width: 226px; height: 68px; position: absolute; bottom: 20px; left: 50%; margin: 0 0 0 -113px; background: url('../images/tutorial.png') no-repeat; z-index: 100;}

.page2-content{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; overflow: hidden;}

.page3-content{ position: absolute; top: 76px; left: 6%; right: 6%; bottom: 60px; background-color: #fff;}
.page3-content .item{ width: 50%; height: 50%; float: left; background-size: cover; -webkit-background-size: cover; background-position: center center;}
.page3-content .item-frame{ display: flex;}
.page3-content .item-frame li{ flex: 1; background-size: cover; -webkit-background-size: cover; background-position: center center;}
.page3-content .item-frame li div{ height: 50%; background-size: cover; -webkit-background-size: cover; background-position: center center;}

.page4-content{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;display: flex;justify-content:center;flex-direction:column;}
.page4-content ul{ transition:all 0.3s ease-out;}
/*.page4-content ul:hover{ margin-top: -23px;}*/
/*.page4-content ul.active{ margin-top: -70px;}*/
.page4-content li{ border-bottom: 1px solid rgba(255,255,255,0.2); padding: 10px 0; text-align: center; position: relative;}
.page4-content li:last-child{ border-bottom: none;}
.page4-content li .mask{ height: 40px; background-color: #000; opacity: 0; transition: all 0.3s ease-out;}
.page4-content li p{ width: 100%; color: rgba(255,255,255,0.4); font-size: 24px; letter-spacing: 25px; position: absolute; top: 50%; left: 0; margin-top: -16px; cursor: pointer;}
.page4-content li .detail{ display:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.page4-content li .detail div{ width: 840px; height: 100%; display: flex; margin: 0 auto; justify-content:center;flex-direction:column; color: rgba(255,255,255,0.4); font-size: 14px; letter-spacing: 4px; line-height: 2;}
.page4-content li:hover .mask{ height: 90px; opacity: 0.2;}
.page4-content li.active{cursor: url("../images/cursor-close.png"),default;}
.page4-content li.active .mask{ height: 150px; opacity: 1;}
.page4-content li.active p{ display: none;}
.page4-content li.active .detail{ display: block;}

.page5-content{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; overflow: hidden;}
.page5-content ul{ width: 1950px; height: 1170px; overflow: hidden; position: relative; top: 50%; left: 50%; margin: -585px 0 0 -975px;}
.page5-content li{ width: 130px; height: 130px; float: left;}
.page5-content li div{ width: 100%; height: 100%; background-color: #000; float: left; font-size: 60px; color: #fff; display: flex; justify-content:center;flex-direction:column; text-align: center; transition: all 0.1s linear 1s; }
.page5-content li:hover div{ opacity: 0; transition-delay: 0s; transition-duration: 0s;}

.page6-content{ width: 750px; position: absolute; top: 50%; left: 50%; margin: -134px 0 0 -375px; text-align: center;}
.page6-content p{ font-size: 30px; letter-spacing: 10px; line-height: 1.1; margin-bottom: 50px;}
.page6-content p span{ font-size: 18px; letter-spacing: 5px;}
.page6-content div{ font-size: 18px; color: rgba(255,255,255,0.3); letter-spacing: 2px; line-height: 1.4; margin-bottom: 50px;}
.page6-content a{ width: 300px; display: inline-block; border: 1px solid rgba(255,255,255,0.8); font-size: 16px; padding: 15px 0; color: #fff; letter-spacing: 5px;}

.page7-content{ width: 1000px; position: absolute; top: 50%; left: 50%; margin: -235px 0 0 -500px; text-align: center;}
.page7-content .info div{ display: inline-block; margin-right: 40px; font-size: 18px; letter-spacing: 6px; margin-bottom: 110px;}
.page7-content .info div span{ color: #fe8b8b;}
.page7-content .info div:last-child{ margin-right: 0;}
.page7-content .list li{ display: inline-block; margin: 0 15px;}

/*
    news
*/
#news-scroll-line {position: absolute;top: 0;left: 50%; margin-left: 599px;width: 20px; height: 100%; background-image: url("../images/pixel.png");background-repeat: repeat-y; background-size: 100%; z-index: 100;}
.scroll-bar{ width: 18px; height: 210px; background: url("../images/slide1.jpg") no-repeat; position: absolute; top: 0; left: 1px; background-size: 100% 100%; cursor: url("../images/clic.png"),default;}
#news-content-handler{ width: 100%; height: 100%; overflow: hidden;}
#news-lines {position: absolute;top: 0;left: 50%;height: 100%;width: 842px;margin-left: -600px; background-image: url("../images/lines.png");background-repeat: repeat-y  }
#news-handler { background-image: url("../images/background.png"); background-position: 50% 160px;height: 100%; position: relative; top: 0px;}
#news-placeholder {width: 1200px;margin: 0 auto;position: relative;overflow: hidden;min-height: 100%; }
.news-item { width: 400px;padding-left: 15px;padding-right: 15px;height: 380px;position: absolute;  }
.news-visuel {position: absolute;top: -231px;left: 2px;height: 608px;width: 398px;opacity: 0;transition: all 0.5s ease-out; }
.news-item:hover .news-visuel{ opacity: 1;}
.news-visuel img {position: absolute;top: 0;left: 0  }
.news-visuel:hover {cursor: pointer }
.news-date {font-size: 12px;color: #FFF;padding-top: 8px;padding-bottom: 12px;position: relative  }
.news-date:hover, .news-title:hover, .news-description:hover {cursor: pointer  }
.news-title { width: 400px;font-size: 16px;color: #FFF; margin-top: 24px; letter-spacing: 5px; position: relative; z-index: 10;}
.news-description { width: 400px;font-size: 16px;color: rgba(255,255,255,0.4); margin-top: 10px; letter-spacing: 5px; position: relative; z-index: 10;}
