.fadeIn { animation: fadeIn 0.3s ease-out;}
@keyframes fadeIn {
   0% { opacity: 0}
   100% { opacity: 1}
}
.fadeOut { animation: fadeOut 0.3s ease-out;}
.fadeOut2 { animation: fadeOut 0.1s ease-out;}
@keyframes fadeOut {
   0% { opacity: 1}
   100% { opacity: 0}
}
.slideIn750 { animation: slideIn750 0.3s ease-out;}
@keyframes slideIn750 {
   0% { transform: translateX(750px)}
   100% { transform: translateX(0)}
}
.slideOut750 { animation: slideOut750 0.3s ease-out;}
@keyframes slideOut750 {
   0% { transform: translateX(0)}
   100% { transform: translateX(750px)}
}
.slideIn500 { animation: slideIn500 0.4s cubic-bezier(.25,.84,.48,1.14);}
@keyframes slideIn500 {
   0% { transform: translateX(500px)}
   100% { transform: translateX(0)}
}
.slideOut500 { animation: slideOut500 0.3s ease-out;}
@keyframes slideOut500 {
   0% { transform: translateX(0)}
   100% { transform: translateX(500px)}
}
.slideIn100 { animation: slideIn100 0.3s cubic-bezier(.25,.84,.48,1.14);}
@keyframes slideIn100 {
   0% { transform: translateX(100px)}
   100% { transform: translateX(0)}
}
.slideUp { animation: slideUp 0.8s cubic-bezier(.18,.78,.52,.94) both}
@keyframes slideUp {
   0% { opacity: 0; transform: translate(0, 150px)}
   100% { opacity: 1; transform: translate(0, 0)}
}
.slideDown { animation: slideDown 0.3s ease-out}
@keyframes slideDown {
   0% { opacity: 1; transform: translate(0, 0)}
   100% { opacity: 0; transform: translate(0, 100px)}
}

.scaleIn { animation: scaleIn 0.3s cubic-bezier(.18,.83,.61,1.36) 1s both}
@keyframes scaleIn {
   0% { opacity: 0; transform: scale(0)}
   100% { opacity: 1; transform: scale(1)}
}

.dropIn { animation: dropIn 0.3s ease-in-out both; transform-origin: center 0;}
@keyframes dropIn {
   0% { opacity: 0; transform: scaleY(0.8)}
   100% { opacity: 1; transform: scaleY(1)}
}

.dropOut { animation: dropOut 0.3s ease-in-out both; transform-origin: center 0;}
@keyframes dropOut {
   0% { opacity: 1; transform: scaleY(1)}
   100% { opacity: 0; transform: scaleY(0.8)}
}
