<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>Title2</title>
    <link href="css/animation.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="app">
    <ul class="page1-circle">
        <li class="animated" :class="floatCircle1">
            <transition enter-active-class=" scaleIn">
                <div v-if="showCircle1">使用云服务<span>1</span>次</div>
            </transition>
        </li>
        <li class="animated" :class="floatCircle2" style="width: 26vw; height: 26vw;">
            <transition enter-active-class=" scaleIn">
                <div v-if="showCircle2">在排名<span>1</span>位</div>
            </transition>
        </li>
        <li class="animated" :class="floatCircle3">
            <transition enter-active-class=" scaleIn">
                <div v-if="showCircle3">击败全国<span>1%</span>用户</div>
            </transition>
        </li>
    </ul>
</div>

<script src="js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            showCircle1:false,
            showCircle2:false,
            showCircle3:false,
            floatCircle1:'',
            floatCircle2:'',
            floatCircle3:''
        },
        mounted:function () {
            var self = this;
            setTimeout(function () {
                self.showCircle1 = true;
            },1000);
            setTimeout(function () {
                self.showCircle2 = true;
            },1100);
            setTimeout(function () {
                self.showCircle3 = true;
            },1200);
            setTimeout(function () {
                self.floatCircle1 = 'floatCircle1';
            },1400);
            setTimeout(function () {
                self.floatCircle2 = 'floatCircle2';
            },1500);
            setTimeout(function () {
                self.floatCircle3 = 'floatCircle3';
            },1600)
        }
    })
</script>
</body>
</html>