<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>Title2</title>
    <style>
        *{ margin: 0; padding: 0;}
        .swiper-slide{ background-color: #94d977; background: url('images/bg-share-1.jpg') no-repeat; background-size: cover;}
        .swiper-slide:nth-child(2n){ background-color: #777ad9; background-image: url("images/bg-share-2.jpg")}
        #imgsframe{}
    </style>
    <link rel="stylesheet" href="css/swiper.min.css">
</head>
<body>
<div id="app">
    <!-- Swiper -->
    <swiper :options="swiperOption" ref="mySwiper" id="swiper" v-if="!showImgs">
        <!-- slides -->
        <swiper-slide v-for="item in 20">{{txt}} {{item}}</swiper-slide>
    </swiper>
    <div id="imgsframe" v-if="!showImgs"><img :src="imgSrc" id="imgs" style="width: 100%;"></div>
</div>


<script src="js/swiper.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-awesome-swiper.js"></script>
<script src="js/html2canvas.min.js"></script>
<script type="text/javascript">
    Vue.use(window.VueAwesomeSwiper)
</script>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            swiperOption:{
                direction : 'vertical',
                height:window.innerHeight
            },
            showImgs:false,
            imgSrc:'',
            txt:'slide'
        },
        mounted:function () {
            var self = this;
            setTimeout(function () {
                self.txt = 'this is a 2';
                self.draw()
            },1000)
        },
        methods:{
            draw:function () {
                var self = this;
                html2canvas(document.getElementById('swiper')).then(function(canvas) {
                    document.body.appendChild(canvas);
                    var img = canvas.toDataURL();
                    console.log(img.length)
                    self.showImgs = true;
                    self.imgSrc = img;
                })
            }
        }
    })

</script>
</body>
</html>