@import '../../../static/css/mixin.styl'

.goods
  .opera-top
    width 100%; background-color #FFFFFF; abTL(0, 0); z-index 10;
  .btn-cate-more
    size(40px, 40px); background-color #FFFFFF; center(); abTR(0, 0)
