.header{ width: 100%; height: 70px; box-sizing: border-box; background-color: #dac49f; position: fixed; top: 0; left: 0; z-index: 500; display: flex; justify-content: space-between; align-items: center; padding: 0 30px;}
.header .icon-logo{ font-size: 30px; color: #FFFFFF;}
.header .icon-xiugai{ font-size: 30px; color: #FFFFFF; transform: rotateZ(180deg); box-shadow: 0 -1px 14px rgba(55,44,30,0.3); border-radius: 50%; background-color: #000000;}

.container{ min-height: calc(100vh - 70px); margin-top: 70px; overflow: hidden; position: relative;}

.login-container{ display: flex; justify-content: center; align-items: center;}
.login-frame{ width: 400px; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;}
.login-frame .line{ width: 100%; position: relative; margin-bottom: 30px; border-bottom: 1px solid #cdc9c8;}
.login-frame .line:before,.login-frame .line:after{ content: ''; width: 10px; height: 10px; background-color: #cdc9c8; border-radius: 50%; position: absolute; bottom: -5px;}
.login-frame .line:before{ left: 0;}
.login-frame .line:after{ right: 0;}
.login-frame .line input{ width: 100%; border: none; text-align: right; font-size: 16px; padding: 10px; color: #352c1d;}
.login-frame .line input::-webkit-input-placeholder{ color: #352c1d;}
.login-frame .btn{ width: 110px; height: 50px; border-radius: 30px; color: #FFFFFF; font-size: 16px; display: flex; justify-content: center; align-items: center; background-color: #dac49f;}

.list-line{ width: 100%; height: 170px; border-bottom: 1px solid #f2f1ef; display: flex; justify-content: space-between; align-items: center;}
.worker-list{ display: flex; align-items: flex-start;}
.worker-list li{ font-size: 36px; color: #352c1d; text-shadow: 0 0 3px rgba(55,44,30,0.3); padding: 0 20px; position: relative; margin-top: 20px; font-family: 'Helve';}
.worker-list li:after{ content: ''; width: 2px; height: 35px; background-color: #352c1d; box-shadow: 0 0 3px rgba(55,44,30,0.3); position: absolute; top: 30px; right: 0;}
.worker-list li:last-child:after{ width: 0; box-shadow: none;}
.worker-list li.active{ font-size: 120px; margin-top: 0;}

.date-frame{ width: 310px; height: 170px; padding: 0 50px; background-color: #dac49f; display: flex; flex-direction: column; align-items: center; position: relative; z-index: 200; transition: opacity 0.2s ease-out;}
.date-frame .year{ width: 100%; height: 40px; font-size: 24px; color: #352c1d; font-family: 'Helve'; display: flex; justify-content: space-around; align-items: center; border-bottom: 1px solid #c5b291;}
.date-frame .date{ width: 100%; border-top: 1px solid #dacebe; display: flex;}
.date-frame .date .month{ font-size: 100px; font-family: 'Helve'; color: #352c1d; text-shadow: 0 0 3px rgba(55,44,30,0.3);}
.date-frame .date .right{ display: flex; flex-direction: column; align-items: center; justify-content: center;}
.date-frame .date .day{ font-size: 50px; font-family: 'Helve'; color: #352c1d; text-shadow: 0 0 3px rgba(55,44,30,0.3);}
.date-frame .date .week{ font-size: 22px; color: #352c1d; text-shadow: 0 0 3px rgba(55,44,30,0.3);}

.timer-frame{ width: 100%; background: url('../images/bg.png') repeat;}
.timer-frame .timer-list{ width: 100%; max-width: 725px; margin: 0 auto; display: flex; flex-wrap: wrap;}
.timer-list li{ width: 145px; height: 130px; display: flex; justify-content: center; align-items: center;}
.timer-list li span{ width: 125px; height: 60px; display: flex; justify-content: center; align-items: center; font-size: 24px; font-family: 'Helve';text-shadow: 0 0 3px rgba(55,44,30,0.3);}
.timer-list li.status1 span{ color: #352c1d;}
.timer-list li.status2 span{ color: #e7e3e2; text-shadow: none;}
.timer-list li.status3 span{ color: #FFFFFF; border-radius: 30px; background-color: #dac49f;}
.timer-list li.status4 span{ color: #352c1d; border-radius: 30px; background-color: #e7e3e2;}

.date-list-frame{ width: 100vw; height: 100vh; background-color: #dac49f; position: fixed; top: calc(240px - 100vh); left: calc(100vw - 310px); z-index: 100; display: flex; justify-content: center; align-items: center; overflow: hidden; transition: all 0.8s cubic-bezier(.17,.65,.23,.97) ;}
.date-list-frame-show{ top:0; left: 0; opacity: 1;}
.date-list-container{ width: 100%; max-width: 700px; position: relative;}
.date-list-container:before{ content: ''; width: 100vw; height: 100%; padding-bottom: 2px; position: absolute; top: 0; left: 50%; margin-left: -50vw; background: url('../images/bg2.png') repeat; background-size: 140px;}
.date-list-container:after{ content: ''; width: 100%; height: 100vh; padding-right: 2px; position: absolute; top: 50%; left: 0; margin-top: -50vh; background: url('../images/bg3.png') repeat; background-size: 140px;}
.date-list-frame .list{ width: 100%; max-width: 700px; display: flex; flex-wrap: wrap; position: relative; z-index: 10;}
.date-list-frame .list li{ width: 140px; height: 140px; display: flex; justify-content: center; align-items: center;}
.date-list-frame .list li .date-item{ width: 125px; height: 65px; display: flex; justify-content: center; align-items: center;}
.date-list-frame .list li .date-item .month{ font-size: 46px; color: #FFFFFF; text-shadow: 0 0 3px rgba(55,44,30,0.3); margin-right: 2px; font-family: Helve;}
.date-list-frame .list li .date-item .right{ display: flex; flex-direction: column; align-items: center; justify-content: center;}
.date-list-frame .list li .date-item .day{ font-size: 20px; color: #FFFFFF; text-shadow: 0 0 3px rgba(55,44,30,0.3); font-family: Helve;}
.date-list-frame .list li .date-item .week{ font-size: 12px; color: #FFFFFF; text-shadow: 0 0 3px rgba(55,44,30,0.3); margin-top: -2px;}
.date-list-frame .list li.active .date-item{ background-color: #FFFFFF; box-shadow: 0 0 10px rgba(55,44,30,0.3); border-radius: 30px;}
.date-list-frame .list li.active .date-item .month{ color: #352c1d;}
.date-list-frame .list li.active .date-item .day{ color: #352c1d;}
.date-list-frame .list li.active .date-item .week{ color: #352c1d;}

.frame700{ width: 92%; max-width: 700px; margin: 0 auto;}
.person{ background-color: #FFFFFF; border-bottom: 1px solid #f2f1ef;}
.person .frame700{ height: 100px; display: flex; align-items: center;}
.person .line{ width: 200px; padding: 10px; position: relative; border-bottom: 1px solid #cdc9c8; font-size: 16px; color: #352c1d; font-family: Helve;}
.person .line:before,.person .line:after{ content: ''; width: 10px; height: 10px; border-radius: 50%; background-color: #cdc9c8; position: absolute; bottom: -5px;}
.person .line:before{ left: -5px;}
.person .line:after{ right: -5px;}

.goods{ background-color: #FFFFFF;}
.goods .frame700{ height: 100px; display: flex; justify-content: space-between; align-items: center;}
.goods .name{ font-size: 18px; color: #352c1d; font-family: Helve;}
.goods .name span{ font-size: 12px; display: block;}
.goods .input-code{ margin-right: -30px; display: flex; position: relative;}
.goods .input-code .input{ width: 245px; height: 50px; opacity: 0; color: rgba(0,0,0,0); position: absolute; top: 0; left: 0;}
.goods .input-code ul{ display: flex; margin-right: 30px;}
.goods .input-code ul li{ width: 50px; height: 50px; background-color: #fff; box-shadow: 0 0 3px rgba(55,44,30,0.3); font-size: 40px; font-family: Helve; color: #352c1d; display: flex; justify-content: center; align-items: center; margin-right: 15px;}
.goods .input-code a.btn{ width: 100px; height: 50px; border-radius: 25px; background-color: #dac49f;box-shadow: 0 0 6px rgba(55,44,30,0.3); font-size: 14px; color: #FFFFFF; display: flex; justify-content: center; align-items: center;}

.type-list ul{ height: 50px; display: flex;}
.type-list ul li{ width: 30%; height: 100%; position: relative; font-size: 16px; color: #352c1d; display: flex; align-items: center;}
.type-list ul li span{ font-size: 12px; margin-left: 10px;}
.type-list ul li:after{ content: ''; width: 1px; height: 100%; background-color: #FFFFFF; position: absolute; top: 0; right: 0; transform: skewX(-15deg);}
.type-list ul li:last-child:after{ width: 0;}
.type-list ul li:nth-child(2){ width: 40%; justify-content: center;}
.type-list ul li:nth-child(3){ justify-content: flex-end;}