@import "./static/css/mixin.styl"

/* 字体颜色 */
.c-999
  color #999999;

/* 按钮 */
.c-btn
  size(100%, 40px); background-color #FE322B; border-radius 20px; font-size 14px; line-height 40px; color #FFFFFF;
  &[disabled]
    opacity .5; background-color #FE322B; color #FFFFFF;
.c-btn-primary
  background-color #07C160
