@import "./static/css/mixin.styl"

/* 字体颜色 */
.c-999
  color #999999;
.c-red
  color #FE322B;

/* 按钮 */
.c-btn
  size(100%, 40px); background-color #FE322B; border-radius 20px; font-size 14px; line-height 40px; color #FFFFFF;
  &[disabled]
    opacity .5; background-color #FE322B; color #FFFFFF;
.c-btn-primary
  background-color #07C160
.c-btn-border
  background-color #FFFFFF; border 1PX solid #FE322B; color #FE322B;
.c-btn-24
  height 24px; line-height 22px; font-size 12px;

/* 标签 */
.c-tag
  height 14px; line-height 14px; padding 0 4px; text-align center; border-radius 2px; background-color #FEF2E8; font-size 10px; color #FE322B; display inline-block;


/* 产品模块 */
.goods-list
  margin-left 12px; margin-right 12px; between(); flex-wrap wrap;
  .goods-item
    margin-bottom 8px;
.goods-item
  size(170px, 270px); background-color #FFFFFF; border-radius 4px; overflow hidden;
  .img
    size(170px, 170px)
  .info
    margin 8px;
    .h3
      height 40px; line-height 20px; overflow hidden; text-overflow ellipsis; display -webkit-box; -webkit-line-clamp 2; -webkit-box-orient vertical;
    .price
      font-size 10px; line-height 20px; color #FE322B;







