@import '../../static/css/mixin.styl'

.Cart
  padding-bottom calc(123px + constant(safe-area-inset-bottom));
  padding-bottom calc(123px + env(safe-area-inset-bottom));
  .list
    margin-bottom 32px;
  .list-item
    margin-bottom 8px
  .Cart-footer
    size(100%, 66px); background-color #FFFFFF; fxBL(0, 0); bottom calc(54px + constant(safe-area-inset-bottom)); bottom calc(54px + env(safe-area-inset-bottom));
    button
      width 134px;
