@import '../../static/css/mixin.styl'

.Store
  .line1
    background-color #FFFFFF; margin-top 1PX; margin-bottom 8px;
    .store-logo
      size(48px, 48px); border-radius 50%; margin-right 8px;
    .c-btn
      width 73px;
