@import "mixin.styl"

// 变量
mainColor = #F0916C

body
  background linear-gradient(349deg, #F9F6F2 0%, #F0E7DD 50%, #EADED0 100%)

.scrollBar
  &::-webkit-scrollbar
    width 2px
    background-color transparent
  &::-webkit-scrollbar-thumb
    background-color mainColor

.acenter
  acenter()
.center
  center()
.between
  between()
.around
  around()

// 动效
.ts1
  transition all .4s cubic-bezier(.23,.78,.33,.97)

// 盒子样式
.box
  background: #F9F9F9; box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.08); border-radius: 50px 50px 0px 0px; position relative;
.box2
  background: #ffffff; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08); border-radius: 50px; position relative;
  &:before
    content ''; size(100%, 70px); background-color #F4F3F3; abTL(0, 0); z-index 0; border-radius: 50px 50px 0px 0px;
  &-title
    font-size 18px; height 70px; padding-top 22px; padding-left 30px; position relative;
  &-body
    height calc(100% - 120px); overflow-y auto;

// 标签页
.tee-tabs
  &.ivu-tabs-card>.ivu-tabs-bar
    border-bottom none; margin-bottom 0;
    .ivu-tabs-nav-container
      height 57px; padding-top 7px;
    .ivu-tabs-tab
      size(160px, 50px); padding 0; margin-right 20px; text-align center; line-height 50px; border-radius 25px 25px 0 0; border none; background-color #EDECEB; font-size 18px; color #B9BABB;
    .ivu-tabs-tab-active
      background-color #ffffff; color mainColor; box-shadow 0px 0px 7px 0px rgba(0, 0, 0, 0.08);
  .ivu-tabs-nav-scroll
    margin-left 20px; overflow visible;

// 表单
.c-form
  width 250px; margin-left auto; margin-right auto;
  .ivu-form-item
    margin-bottom 20px
  .ivu-form-item-error-tip
    font-size 12px; left 16px; margin-top -2px;
  .form-hint
    font-size 12px; color #C8C9CA; margin-left 15px; margin-right 15px; line-height 15px; margin-top 4px;

.ivu-input
  border none; background-color #FFFFFF; height 40px; color #41372D; border-radius 20px; padding 4px 15px;
.c-input
  size(250px, 40px); acenter(); border-radius 20px; background-color #ffffff; border: 1px solid #F2F2F2;
  &-search
    margin 0 10px;
  input[type=text]
    flex 1; border none; height 100%; font-size 12px; color #3E311F;
.ivu-input-group-append
  background-color #ffffff; border none; border-radius 0 20px 20px 0; font-size 12px; color #C8C9CA; padding-right 15px;
.ivu-btn
  min-width 100px; height 40px; background-color mainColor; color #FAFAFA; border-radius 20px; border-color mainColor;
  &:hover
    background-color mainColor; color #FAFAFA; border-color mainColor; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  &[disabled]
    border none; background #EDECEB; color #B9BABB
  &[disabled]:hover
    background #EDECEB; color  #B9BABB
.ivu-btn-min
  min-width auto; height 25px; line-height 25px; background-color #ffffff; box-shadow 0px 0px 3px 0px rgba(0, 0, 0, 0.15); border-color #ffffff; color #9E9E9F; font-size 12px; padding 0 9px;

.ivu-select-single
  .ivu-select-selection
    height 40px; border none; border-radius 20px
    .ivu-select-placeholder
      height 40px; line-height 40px; color #C8C9CA; padding-left 15px
    .ivu-select-arrow
      color #ffffff; z-index 5; right 14px
    .ivu-select-selected-value
      height 40px; line-height 40px; color #3E311F; padding-left 15px
    &:after
      content ''; size(40px, 40px); line-height 40px; abBR(0, 0); background-color mainColor; border-radius 0 20px 20px 0; color rgba(255, 255, 255, .5)
.c-select
  .ivu-select-selection
    background-color #A96854
    .ivu-select-placeholder
      color #ffffff
    .ivu-select-selected-value
      color #ffffff
    &:after
      background-color transparent
.tee-tables
  position relative;
  table
    width 100%
    thead
      th
        height 30px; color #C8C9CA; font-weight normal; font-size 14px; text-align left;
        &:first-child
          padding-left 30px
    tbody
      tr
        td
          vertical-align top
          &>div
            min-height 85px
            padding-top 20px
            padding-right 20px
            font-size 14px
            color #9E9E9F
            word-break break-all
          &:first-child
            border-radius 20px 0 0 20px
            padding-left 30px
          &:last-child
            border-radius 0 20px 20px 0
            &>div
              border-radius 0 20px 20px 0
      tr:nth-child(2n-1)
        td
          background-color #F4F3F3


// 布局
.operates-line
  padding 0 45px 20px 45px; border-bottom 1px solid #E2E2E2;
.img-box
  size(60px, 60px); border-radius 12px; overflow hidden;
  img
    width 100%; display block;

// 标签
.c-tag
  height 25px; line-height 25px; border-radius 13px; font-size 12px; color #ffffff; padding 0 10px; background-color #F24C25; box-shadow 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
