<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>月度报告3</title>
    <link href="css/reset.css" type="text/css" rel="stylesheet" />
    <link href="css/helve.css" type="text/css" rel="stylesheet" />
    <link href="css/swiper.min.css" type="text/css" rel="stylesheet" />
    <link href="css/layout.css" type="text/css" rel="stylesheet" />
    <link href="css/layout-prod.css" type="text/css" rel="stylesheet" />
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                    isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
                    dpr = isIOS? Math.min(win.devicePixelRatio, 3) : 1,
                    dpr = window.top === window.self? dpr : 1; //被iframe引用时，禁止缩放
            var recalc = function () {
                var width = docEl.clientWidth;
                if (width / dpr > 750) {
                    width = 750 * dpr;
                }
                docEl.style.fontSize = 100 * (width / 750) + 'px';
            };
            recalc();
        })(document, window);
    </script>
    <script src="js/vue.min.js" type="application/javascript" language="javascript"></script>
    <script src="js/echarts.min.js" type="application/javascript" language="javascript"></script>
    <script src="js/TweenMax.min.js" type="application/javascript" language="javascript"></script>
    <script src="js/swiper.min.js?v=2" type="application/javascript" language="javascript"></script>
    <script src="js/html2canvas.min.js" type="application/javascript" language="javascript"></script>
    <script src="js/axios.min.js" type="application/javascript" language="javascript"></script>
</head>
<body style=" background-color: #f1f1f1;">
<div id="app">
    <header class="header">
        <a href="javascript:;" @click="openDate"><i class="icon-calendar"></i>{{lastYear}}年{{lastMonth}}月</a>
        <!--<a href="javascript:;" @click="doShare"><i class="icon-share"></i></a>-->
    </header>
    <!-- 全国排名-->
    <div class="rank-frame">
        <div id="rank"></div>
        <div class="info">
            <div>{{animRank}}</div>
            <a href="javascript:;" @click="showRule = true">综合排名<img src="images/ic_i@3x.png" width="18"></a>
            <p>截止月底, 云服务已伴你走过<span>{{animDrive}}</span>天</p>
        </div>
    </div>
    <!-- 行程概况-->
    <div class="card-frame">
        <h3>行程概况</h3>
        <ul class="list1">
            <li>
                <p>行驶里程</p>
                <div><span>{{animMiles}}</span>公里</div>
            </li>
            <li>
                <p>驾驶天数</p>
                <div><span>{{animDays}}</span>天</div>
            </li>
            <li>
                <p>驾驶时长</p>
                <div><span>{{animHours}}</span>小时</div>
            </li>
        </ul>
    </div>
    <!-- 燃油使用-->
    <div class="card-frame" v-if="energyType == 1 || energyType == 2">
        <h3>燃油使用</h3>
        <ul class="list2">
            <li class="icon1">
                <p>加油次数</p>
                <div><span>{{animGasTimes}}</span>次</div>
            </li>
            <li class="icon2">
                <p>耗油量</p>
                <div><span>{{animGas}}</span>升</div>
            </li>
        </ul>
    </div>
    <!-- 用电情况-->
    <div class="card-frame" v-if="energyType == 0 || energyType == 2">
        <h3>用电情况</h3>
        <ul class="list2">
            <li class="icon3">
                <p>充电次数</p>
                <div><span>{{animElecTimes}}</span>次</div>
            </li>
            <li class="icon4">
                <p>耗电量</p>
                <div><span>{{animElec}}</span>度</div>
            </li>
        </ul>
    </div>
    <!-- 远程控制使用-->
    <div class="card-frame" style="background-color: transparent; box-shadow: none;">
        <h3 style="border-bottom-color: #e7dcdc;">远程控制使用</h3>
    </div>
    <div class="times-frame">
        <div id="times"></div>
        <div class="first">
            <p>远程控制<br>成功</p>
            <div><span>{{detailData.remoteControlTimes == undefined ? '--' : detailData.remoteControlTimes}}</span>次</div>
        </div>
    </div>
    <!-- 排名规则-->
    <section class="rule-frame" v-if="showRule" :style="{height:wheight+'px'}">
        <div class="rule-content">
            <h3>排名规则</h3>
            <p>综合排名由当月里程、百公里平均油/电耗、云服务使用情况计算得出，每月1-3号生成报告。</p>
            <a href="javascript:;" @click="showRule = false">确定</a>
        </div>
    </section>
    <!-- 月份选择-->
    <section class="date-frame" v-show="showDate" @click="showDate = false" :style="{height:wheight+'px'}">
        <div class="date-container" @click.stop="showDate = true">
            <h3>选择月份</h3>
            <div class="scroll-frame">
                <div class="line"></div>
                <div class="scroll"
                     @touchstart="tStart($event,'year')"
                     @touchend="tEnd($event,'year')" ref="year">
                    <ul>
                        <li v-for="item in years" :class="{'near':item == selectYear-1 || item == selectYear+1,'active':selectYear == item}">{{item}}</li>
                    </ul>
                </div>
                <div class="scroll"
                     @touchstart="tStart($event,'month')"
                     @touchend="tEnd($event,'month')" ref="month">
                    <ul>
                        <li v-for="item in 12" :class="{'near':item == selectMonth-1 || item == selectMonth+1,'active':selectMonth == item}">{{item}}</li>
                    </ul>
                </div>
            </div>
            <span style="display: none;">{{animSt}}</span>
            <div class="btns">
                <a href="javascript:;" @click.stop="showDate = false">取消</a>
                <a href="javascript:;" @click.stop="confirmDate">确定</a>
            </div>
        </div>
    </section>

    <!-- 广告-->
    <div class="swiper-container ad-container" v-if="showAD">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item in adList" @click="clickAD(item)"><img :src="item.picUrl"></div>
        </div>
    </div>
</div>
<img src="" id="shareImg" style="display: none; width: 100%;">
<!--
1001：车门解锁
1002：车门上锁
1007：关闭车窗
1003：开启空调
1004：预约开空调
1005：闪灯鸣笛
1006：预约充电
1009：关闭空调
1010：闪灯

https://webtestservice.bydauto.com.cn:5018/yuebao/
http://10.9.32.19:8080/yuebao/
http://10.9.32.19:8080/yuebao/?energyType=2&fixeds=1001,1002,1003,1004,1005&data=FdmNx5tygr6LP2FDxZOsOcQQ+y1ZtjQpBcy/SKqTfcsdsxVN2aUUMS+J2cuEUCKOI5F70lKOj8JFvFYwm/m82jek0QoAeUZ0S+dVxs9753mC7/CneLTH8jxrtmhPu5tcSwQke+ZaX/7Mfq1k2cdmIUPUfwi1ezbMYX47ZD/Us5e4lBff/pWPSS4K9dGE90HLZtmIJ6plRCwWbek/lSHERlkM107uhvo4hJqbr45KOWSuDoZDyZojUGARhe6NyUZlgMmbjo7Ynz6cmaWvUXVN7nVYUL50qL9TC6mrDAnbVhaF7r3bJ9JlwkuLeb3cmWGUhUMe1AEvJtZXB90su+kLY2FP1ZJ0JNhphmHx/dw53JC8=
-->
<script>
    var aesData = getQueryString('data');//传参数据
//    var imeiMD5 = getQueryString('imeiMD5');//md5
//    var userID = getQueryString('userID');//用户ID
    var energyType = getQueryString('energyType') || 2;//能源类型
    var fixeds = getQueryString('fixeds');//支持控制功能
    var viewAD = {};//点击的广告数据
    var errorData = {};//报错数据
    var shareImgData = '';//分享图片数据
    var myvue = new Vue({
        el: '#app',
        data:{
            showRule:false,
            showDate:false,
            showAD:false,
            years:[2018],
            rank:'--',
            drive:'--',
            miles:'--',
            days:'--',
            hours:'--',
            gasTimes:'--',
            gas:'--',
            elecTimes:'--',
            elec:'--',
            isOver:true,
            isEnd:true,
            tTime:0,
            scrollTop:0,
            selectMonth:1,
            lastMonth:1,
            selectYear:2018,
            lastYear:2018,
            opearName:'',
            detailData:{},
            adList:[],
            energyType:energyType,
            wheight:window.innerHeight
        },
        mounted:function(){
            this.selectInit();
            this.getData();
            this.drawRank(0);
            this.drawRada();
            this.doCanvas();
        },
        computed:{
            animRank:function(){
                return typeof this.rank == 'string' ? '--' : this.rank.toFixed(0);
            },
            animDrive:function(){
                return typeof this.drive == 'string' ? '--' : this.drive.toFixed(0);
            },
            animMiles:function(){
                return typeof this.miles == 'string' ? '--' : this.miles.toFixed(0);
            },
            animDays:function(){
                return typeof this.days == 'string' ? '--' : this.days.toFixed(0);
            },
            animHours:function(){
                return typeof this.hours == 'string' ? '--' : this.hours.toFixed(0);
            },
            animGasTimes:function(){
                return typeof this.gasTimes == 'string' ? '--' : this.gasTimes.toFixed(0);
            },
            animGas:function(){
                return typeof this.gas == 'string' ? '--' : this.gas.toFixed(1);
            },
            animElecTimes:function(){
                return typeof this.elecTimes == 'string' ? '--' : this.elecTimes.toFixed(0);
            },
            animElec:function(){
                return typeof this.elec == 'string' ? '--' : this.elec.toFixed(1);
            },
            animSt:function(){
                if(this.$refs[this.opearName]){
                    this.$refs[this.opearName].scrollTop = this.scrollTop.toFixed(0);
                }
                return this.scrollTop.toFixed(0);
            }
        },
        methods:{
            getData:function(){
                var params = {},self = this;
                params.data = aesData;
                params.Year = this.selectYear;
                params.Month = this.selectMonth;
//                /mobileserve/Vehicle/getMonthData
                axios.post('/mobileserve/Vehicle/getMonthData',params).then(function(res){
                    if(res.data.result == 0){
                        self.detailData = res.data.data;
                        self.adList = res.data.bannerList;
                        self.setValues();
                    }else{
                        window.errorData = res.data;
                        window.location = '/error'
                    }
                });
            },
            doCanvas:function(){
                html2canvas(document.getElementById('app')).then(function(canvas) {
                    document.body.appendChild(canvas);
                });
                var self = this;
                setTimeout(function(){
                    var canvasArr = document.getElementsByTagName('canvas');
                    var canvas = canvasArr[canvasArr.length - 1];
                    window.shareImgData = canvas.toDataURL().replace('data:image/png;base64,','');
//                    if(self.detailData.remoteControlTimes != undefined){
//                        document.getElementById('shareImg').src = 'data:image/png;base64,'+window.shareImgData;
//                        document.getElementById('shareImg').style.display = 'block';
//                    }
                },500);
                setTimeout(function(){
                    if(self.adList.length != 0){
                        self.showAD = self.adList.length != 0;
                        self.$nextTick(function(){
                            var mySwiper = new Swiper ('.swiper-container', {
                                autoplay: {
                                    disableOnInteraction: false
                                }
                            });
                        });
                    }
                },1500)
            },
            doShare:function(){
                var canvas = document.getElementsByTagName('canvas')[0];
                window.shareImgData = canvas.toDataURL().replace('data:image/png;base64,','');
                window.location = '/doShare'
            },
            setValues:function(){
                var data = this.detailData;
                if(typeof this.rank == 'string') this.rank = 0;
                if(typeof this.drive == 'string') this.drive = 0;
                if(typeof this.miles == 'string') this.miles = 0;
                if(typeof this.days == 'string') this.days = 0;
                if(typeof this.hours == 'string') this.hours = 0;
                if(typeof this.gasTimes == 'string') this.gasTimes = 0;
                if(typeof this.gas == 'string') this.gas = 0;
                if(typeof this.elecTimes == 'string') this.elecTimes = 0;
                if(typeof this.elec == 'string') this.elec = 0;
                TweenLite.to(this.$data,0.7,{rank:data.rank});
                TweenLite.to(this.$data,0.7,{drive:data.peiBanDays});
                TweenLite.to(this.$data,0.7,{miles:data.driveMileage});
                TweenLite.to(this.$data,0.7,{days:data.driveDays});
                TweenLite.to(this.$data,0.7,{hours:data.driveTime});
                TweenLite.to(this.$data,0.7,{gasTimes:data.oilTimes});
                TweenLite.to(this.$data,0.7,{gas:data.oilConsumption});
                TweenLite.to(this.$data,0.7,{elecTimes:data.chargeTimes});
                TweenLite.to(this.$data,0.7,{elec:data.powerConsumption});
                if(typeof data.rank == 'string') data.rank = 0;
                this.drawRank(data.rank);
                this.drawRada();
                var self = this;
                setTimeout(function(){
                    self.doCanvas();
                },1000);
            },
            drawRank:function(val){
                var value1 = Math.floor(270*val/100);
                var value2 = 270 - value1;
                var chart = echarts.init(document.getElementById('rank'));
                chart.setOption({
                    title:{text:'超过全国',textStyle:{fontSize:14,color:'#333333',fontWeight:'normal'},left:'center',top:'26%'},
                    series: [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius: ['82%', '90%'],
                            startAngle:225,
                            hoverAnimation:false,
                            selectedOffset:0,
                            label:{normal:{show:false}},
                            labelLine:{normal:{show:false}},
                            data:[
                                {
                                    value:value1,
                                    name:'',
                                    itemStyle:{
                                        normal:{
                                            color:{
                                                type: 'linear',
                                                x: 0,
                                                y: 0,
                                                x2: 1,
                                                y2: 0,
                                                colorStops: [{
                                                    offset: 0, color: '#2782FF' // 0% 处的颜色
                                                }, {
                                                    offset: 1, color: '#A751EC' // 100% 处的颜色
                                                }],
                                                globalCoord: false // 缺省为 false
                                            }
                                        }
                                    }
                                },
                                {value:value2, name:'',itemStyle:{color:'rgb(236,236,236)'}},
                                {value:90, name:'',itemStyle:{color:'#f1f1f1'}}
                            ]
                        }
                    ]
                })
            },
            getFixedName:function(code){
                if(code == 1001){
                    return {
                        text:'车门解锁',
                        name:'unlockTimes'
                    }
                }else if(code == 1002){
                    return {
                        text:'车门上锁',
                        name:'lockDoorTimes'
                    }
                }else if(code == 1003){
                    return {
                        text:'开启空调',
                        name:'openAirTimes'
                    }
                }else if(code == 1004){
                    return {
                        text:'预约开空调',
                        name:'appointmentAirTimes'
                    }
                }else if(code == 1005){
                    return {
                        text:'闪灯鸣笛',
                        name:'ligthAndWhistle'
                    }
                }else if(code == 1006){
                    return {
                        text:'预约充电',
                        name:'unlockTimes'
                    }
                }else if(code == 1007){
                    return {
                        text:'升窗',
                        name:'closeWidnowTimes'
                    }
                }else if(code == 1009){
                    return {
                        text:'关闭空调',
                        name:'closeAirTimes'
                    }
                }else if(code == 1010){
                    return {
                        text:'闪灯',
                        name:'lightTimes'
                    }
                }
            },
            getRada:function(){
                var data = this.detailData;
                var max = this.getMax();//所有项中的最大值
                //1.cha = maxVal*0.4(window.innerWidth/375) 2.maxVal = max+cha+4  3.maxVal*0.4(window.innerWidth/375) = maxVal-cha+4
                var maxVal = (max+4)/(1-0.4*(window.innerWidth/375));//4为最大值离外圆的偏移量
                var cha = maxVal*0.4*(window.innerWidth/375);
                var fixedArr = fixeds.split(',');
                var arr = [],arr2 = [];
                var RemoteControlTimes = data.remoteControlTimes;
                for(var i=0;i<fixedArr.length;i++){
                    var item = this.getFixedName(fixedArr[i]);
                    arr.push({
                        "text":item.text,
                        "num": data[item.name] == undefined ? '--' : data[item.name],
                        "max":maxVal
                    });
                    if(RemoteControlTimes == 0){
                        arr2.push(null);
                    }else{
                        arr2.push(data[item.name] == undefined ? 0 : data[item.name]+cha);
                    }

                }
                return {
                    indicator:arr,
                    value:arr2
                }
            },
            drawRada:function(){
                var chart = echarts.init(document.getElementById('times'));
                var data = this.getRada();
                chart.setOption({
                    radar: [{
                        indicator:data.indicator,
                        radius: 100,
                        startAngle: 90,
                        splitNumber: 14,
                        shape: 'circle',
                        nameGap:20,
                        name: {
                            formatter: function(value, indicator) {
                                var num = indicator.num;
                                return '{a|'+value+'}\n{b|'+num+'}{c|次}'
                            },
                            rich: {
                                a: {
                                    color: '#333333',
                                    fontSize: 14,
                                    align:'center'
                                },
                                b: {
                                    fontSize: 24,
                                    fontWidth: 'bold',
                                    verticalAlign:'bottom',
                                    color: '#2B5FD5'
                                },
                                c: {
                                    fontSize: 14,
                                    color: '#999999',
                                    verticalAlign:'bottom'
                                }
                            },
                            textStyle: {
                                color: '#fff'
                            }
                        },
                        splitArea: {areaStyle: {color: '#ffffff'}},
                        axisLine: {show:false},
                        splitLine: {lineStyle: {color: '#ececec'}}
                    }],
                    series: [{
                        name: '雷达图',
                        type: 'radar',
                        symbolSize: 0,
                        lineStyle: {
                            normal: {
                                color:{
                                    type: 'linear',
                                    x: 0,
                                    y: 0,
                                    x2: 1,
                                    y2: 0,
                                    colorStops: [{
                                        offset: 0, color: '#2782FF' // 0% 处的颜色
                                    }, {
                                        offset: 1, color: '#A751EC' // 100% 处的颜色
                                    }],
                                    globalCoord: false // 缺省为 false
                                },
                                type: 'solid',
                                width: 2
                            }},
                        data: [{//值差=最大值*0.4*(window.innerWidth/375)
                            value: data.value
                        }]
                    }]
                })
            },
            scrollMove:function(e){
                console.log(e)
            },
            selectInit:function(){
                var date = new Date();
                this.selectMonth = date.getMonth()+1;
                this.lastMonth = date.getMonth()+1;
                this.$refs.month.scrollTop = (this.selectMonth - 1)*40;
                this.selectYear = date.getFullYear();
                this.lastYear = date.getFullYear();
                for(var i=0;i<this.selectYear - this.years[0];i++){
                    this.years.push(this.years[0]+i+1)
                }
                var self = this;
                this.$nextTick(function(){
                    self.$refs.year.scrollTop = (self.selectYear - self.years[0])*40;
                });
            },
            setScroll:function(name){
                this.isOver = true;
                var st = this.$refs[name].scrollTop,h = 40;
                var num = Math.floor(st/h)+1;
                if(st%h > h/2){
                    num += 1;
                }
                this.scrollTop = st;
                if(name == 'month'){
                    this.selectMonth = num;
                }else if(name == 'year'){
                    this.selectYear = this.years[0]+num-1;
                }

                TweenLite.to(this.$data,0.2,{scrollTop:(num - 1)*h});
            },
            tStart:function(e,name){
                this.isTouch = false;
                this.isOver = false;
                var lastVal = -1,self = this;
                this.opearName = name;
                this.scrollTop = self.$refs[name].scrollTop;
                this.tTime = setInterval(function(){
                    if(self.isTouch){
                        if(lastVal == self.$refs[name].scrollTop){
                            self.setScroll(name);
                            clearInterval(self.tTime);
                        }else{
                            lastVal = self.$refs[name].scrollTop
                        }
                    }else{
                        lastVal = self.$refs[name].scrollTop
                    }
                },50)
            },
            tEnd:function(e){
                this.isTouch = true;
            },
            confirmDate:function(){
                this.lastMonth = this.selectMonth;
                this.lastYear = this.selectYear;
                this.showDate = false;
                this.getData();
            },
            openDate:function(){
                this.showDate = true;
                this.selectMonth = this.lastMonth;
                this.selectYear = this.lastYear;
                var self = this;
                this.$nextTick(function(){
                    self.$refs.month.scrollTop = (self.selectMonth - 1)*40;
                    self.$refs.year.scrollTop = (self.selectYear - self.years[0])*40;
                });

            },
            getMax:function(){
                var arr = [];
                var data = this.detailData;
                if(JSON.stringify(this.detailData) == '{}'){
                    return 0;
                }else{
                    arr.push(data.unlockTimes);
                    arr.push(data.lockDoorTimes);
                    arr.push(data.openAirTimes);
                    arr.push(data.closeAirTimes);
                    arr.push(data.appointmentAir);
                    arr.push(data.ligthAndWhistle);
                    arr.push(data.lightTimes);
                    arr.push(data.closeWidnowTimes);
                    arr.sort(function(a,b){return b-a});
                    return arr[0]
                }
            },
            clickAD:function(item){
                window.viewAD = item;
                window.location = '/viewAD';
            }
        }
    });

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
</script>
</body>
</html>