* {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header{ display: flex; justify-content: space-between; margin-top: 15px; align-items: center;}
.header a{ color: #333333; display: flex; align-items: center;}
.header a:first-child{ margin-left: 15px;}
.header a i.icon-calendar{ width: 0.44rem; height: 0.44rem; background: url("../images/ic_calendar@3x.png") no-repeat; background-size: 100%; background-position: center center; margin-right: 4px;}
.header a i.icon-share{ width: 1.6rem; height: 0.56rem; background: url("../images/share.png") no-repeat; background-size: 100%; background-position: center center;}

.rank-frame{ display: flex; justify-content: center; align-items: center; margin-top: 25px; position: relative;}
#rank{ width: 200px; height: 200px;}
.rank-frame .info{ width: 100%; position: absolute; left: 0 ; bottom: 0; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.rank-frame .info div{ text-align: center; font-size: 1.3rem; color: #2B5FD5; position: relative;}
.rank-frame .info div:after{ content: '%'; font-size: 0.5rem; position: absolute; bottom:0.2rem; right: -0.48rem;}
.rank-frame .info a{ color: #333333; margin-bottom: 5px; display: flex; align-items: center;}
.rank-frame .info a img{ margin-left: 4px;}
.rank-frame .info p{ color: #999999;}
.rank-frame .info p span{ color: #2B5FD5;}

.card-frame{ width: 94%; margin: 6% auto; background-color: #ffffff; border-radius: 5px;box-shadow: 0 1px 11px 0 rgba(0,0,0,0.08); padding: 0 4%; box-sizing: border-box;}
.card-frame>h3{ font-size: 0.32rem; color: #999999; padding: 8px 0; border-bottom: 1px solid #F1F1F1;}

.card-frame .list1{ display: flex; justify-content: space-between; padding: 8px 0;}
.card-frame .list1 li p{ font-size: 0.32rem; color: #333333;}
.card-frame .list1 li div{ font-size: 0.28rem; color: #999999;}
.card-frame .list1 li div span{ font-size: 0.64rem; color: #2B5FD5;}

.list2{ display: flex; flex-wrap: wrap; background-color: #ffffff;}
.list2 li{ width: 50%; height: 70px; box-sizing: border-box;border-bottom: 1px solid #F0F0F0; display: flex; justify-content: center; padding-left: 50px; flex-direction: column; background-repeat: no-repeat; background-size: 0.9rem; background-position: 0 center;}
.list2 li p{ font-size: 0.32rem; color: #333333;}
.list2 li div{ font-size: 0.28rem; color: #999999;}
.list2 li div span{  font-size: 0.48rem; color: #2B5FD5}
.list2 li.icon1{ background-image: url('../images/ic_gasstation@3x.png')}
.list2 li.icon2{ background-image: url('../images/ic_gasstation2@3x.png')}
.list2 li.icon3{ background-image: url('../images/ic_charge@3x.png')}
.list2 li.icon4{ background-image: url('../images/ic_charge2@3x.png')}

.times-frame{ position: relative;}
#times{ width: 100vw; height: 100vw;}
.times-frame .first{ width: 20vw; height: 20vw; background-color: #ffffff; position: absolute; top: 50%; left: 50%; margin: -10vw 0 0 -10vw; border-radius: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center; line-height: 1.1; box-sizing: border-box; padding-top: 7px;}
.times-frame .first p{ font-size: 0.26rem; color: #333333; text-align: center;}
.times-frame .first div{ font-size: 0.2rem; color: #999999; text-align: center;}
.times-frame .first div span{ font-size: 0.36rem; color: #2B5FD5;}

.rule-frame{ width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center;}
.rule-frame .rule-content{ width: 70%; background-color: #ffffff; border-radius: 10px; overflow: hidden;}
.rule-frame .rule-content h3{ text-align: center; margin: 10px 0; font-size: 16px; color: #333333;}
.rule-frame .rule-content p{ margin: 10px 20px; font-size: 14px; color: #333333;}
.rule-frame .rule-content a{display: block; border-top: 1px solid #D4D4D4; padding: 10px 0; font-size: 16px; color: #2B5FD5; text-align: center; margin-top: 20px;}


.date-frame{ width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 500; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center;}
.date-frame .date-container{ width: 80%; background-color: #ffffff;border-radius: 14px; overflow: hidden;}
.date-frame .date-container h3{ font-size: 16px; color: #333333; padding: 10px 20px; text-align: center;}
.date-frame .date-container .scroll-frame{height: 200px; overflow: hidden; margin: 0 20px; position: relative; display: flex;}
.date-frame .date-container .scroll-frame:before,.date-frame .date-container .scroll-frame:after{content: ''; width: 100%; height: 1px; background-color: #979797; position: absolute; left: 0;}
.date-frame .date-container .scroll-frame:before{ top: 80px;}
.date-frame .date-container .scroll-frame:after{ top: 120px;}
.date-frame .date-container .scroll-frame .line{ width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.date-frame .date-container .scroll-frame .line:before,.date-frame .date-container .scroll-frame .line:after{ display: block; font-size: 15px; color: #333333; position: absolute; top: 50%; margin-top: -10px;}
.date-frame .date-container .scroll-frame .line:before{ content: '年'; left: 25%; margin-left: 30px;}
.date-frame .date-container .scroll-frame .line:after{ content: '月'; right: 25%; margin-right: -30px;}
.date-frame .date-container .scroll-frame .scroll{ width: 50%; height: 100%; overflow-x:hidden; overflow-y:scroll; position: relative; z-index: 10;}
.date-frame .date-container .scroll-frame .scroll ul{ margin: 80px 0;}
.date-frame .date-container .scroll-frame .scroll ul li{ height: 40px; display: flex; justify-content: center; align-items: center; font-size: 14px; color: #BBBBBB; transition: all 0.2s linear;}
.date-frame .date-container .scroll-frame .scroll ul li.near{ font-size: 16px; color: #999999;}
.date-frame .date-container .scroll-frame .scroll ul li.active{ font-size: 18px; color: #333333;}
.date-frame .date-container .btns{ width: 100%; border-top: 1px solid #618BE0; display: flex;}
.date-frame .date-container .btns a{ width: 50%; display: flex; justify-content: center; align-items: center; color: #087EFF; font-size: 16px; height: 50px; box-sizing: border-box;}
.date-frame .date-container .btns a:first-child{ border-right: 1px solid #618BE0;}

.ad-container{ margin: 4%;}
.ad-container a{display: block; font-size: 0;}
.ad-container img{ width: 100%;}

canvas{ position: fixed; top: -10000px; left: -10000px;}