<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="Keywords" content="大鯤 DAKUN">
    <meta name="description" content="大鯤 DAKUN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>厦门盘古人品牌管理有限公司 大鲲</title>
    <script>
//        if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
//            window.location.href = "http://www.dakunchina.com/dakun3/";
//        }
    </script>
    <!-- html5.js for IE less than 9 -->
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <script src="js/vue.min.js" type="application/javascript"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/swiper.min.js" type="application/javascript"></script>
</head>
<script>
    var conf = {
        base_url:'',
        shop_url:'',
        upload_file_url:''
    }
</script>
<script src="js/components.js" type="application/javascript"></script>
<body>
<div id="app">
    <top-nav ref="topNav" :slideindex="slideIndex"></top-nav>
    <div class="video-frame">
        <!--<video src="video/video1.mp4" loop autoplay @canplaythrough="loadFirstVideo" ref="bgVideo"></video>-->
    </div>
    <div class="swiper-container index-swiper">
        <div class="swiper-wrapper">
            <!-- page1 -->
            <div class="swiper-slide page1-content">
                <transition leave-active-class="animated fadeOut">
                    <!--<div class="cover-post" v-if="isShowPost" style="background-image: url('images/bg1.jpg')"> </div>-->
                </transition>
                <div class="title">
                    <p><img src="images/logo-index.png"></p>
                    <div>年轻态度，原创潮流品牌</div>
                </div>

                <div class="hint" :style="{'background-position':hintPos.left+'px '+hintPos.top+'px'}"></div>
            </div>
            <!-- page2 -->
            <div class="swiper-slide" :class="noSwipe?'stop-swiping':''">
                <!--<video src="video/video1.mp4" loop autoplay></video>-->
                <!--<transition leave-active-class="animated fadeOut">-->
                <!--<div class="cover-post" v-if="isShowPost2" style="background-image: url('images/bg2.jpg')"> </div>-->
                <!--</transition>-->
                <div class="page2-content">
                    <div id="news-scroll-line">
                        <div class="scroll-bar"
                             @mouseover="noSwipe=true"
                             @mouseleave="noSwipe=false"
                             :style="{top:proScrollTop+'px'}"
                             @mousedown="proScrollBarMD($event)">
                            <ul class="arrow-list">
                                <li><img src="images/arrow.png"> </li>
                                <li><img src="images/arrow.png"> </li>
                                <li><img src="images/arrow.png"> </li>
                                <li><img src="images/arrow.png"> </li>
                            </ul>
                        </div>
                    </div>
                    <div id="news-content-handler">
                        <div id="news-lines"></div>
                        <div id="news-handler"
                             :style="{height:proFrameHeight+'px',top:proFrameTop+'px'}">
                            <!--@mousewheel="proFrameScroll"-->
                            <div id="news-placeholder">
                                <div class="news-item"
                                     ref="proItem"
                                     v-for="(item,index) in proList"
                                     @mousedown="p2mdown"
                                     @mouseup="p2mup(item)"
                                     :style="getProPos(index)">
                                    <div class="news-visuel">
                                        <img :src="upfileUrl+item.cover" width="398" height="608">
                                    </div>
                                    <div class="news-title">{{item.title}}</div>
                                    <div class="news-description">{{item.sub_title}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page3 -->
            <div class="swiper-slide" style="background-color: #000;" :class="noSwipe?'stop-swiping':''">
                <div class="page3-content">
                    <div class="scroll-frame" ref="p3frame" :style="{top:p3.fTop+'px'}">
                        <a v-for="item in p3.list"
                           href="javascript:;"
                           class="item"
                           @mousedown="p2mdown"
                           @mouseup="p3mup(item.url)">
                            <img :src="upfileUrl+item.img">
                        </a>
                    </div>
                </div>
                <div class="p3-scroll" v-if="p3.list.length > 4">
                    <div class="p3-bar"
                         :style="{top:p3.sTop+'px'}"
                         @mouseover="noSwipe=true"
                         @mouseleave="noSwipe=false"
                         @mousedown="proScrollBarMD2($event)">
                        <ul class="arrow-list">
                            <li><img src="images/arrow.png"> </li>
                            <li><img src="images/arrow.png"> </li>
                            <li><img src="images/arrow.png"> </li>
                            <li><img src="images/arrow.png"> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- page4 -->
            <div class="swiper-slide">
                <!--<video src="video/video1.mp4" loop autoplay></video>-->
                <!--<transition leave-active-class="animated fadeOut">-->
                <!--<div class="cover-post" v-if="isShowPost3" style="background-image: url('images/bg4.jpg')"> </div>-->
                <div class="page4-content" :style="{'margin-top':p4mt+'px'}">
                    <ul>
                        <li v-for="(item,index) in p4List"
                            @click.prevent="p4liClick(index)"
                            @mousedown="p4mdown"
                            @mouseup="p4liClick(index)"
                            :class="p4Index == (index+1) ? 'active':''">
                            <div class="mask"></div>
                            <p>{{item.title}}</p>
                            <!--<div class="detail" @click.stop="p4Index=0">-->
                            <!--<div>{{item.content}}</div>-->
                            <!--</div>-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- page5 -->
            <div class="swiper-slide">
                <!--<video src="video/video1.mp4" loop autoplay></video>-->
                <div class="page5-content">
                    <ul>
                        <li
                                v-for="(item,index) in rectList"
                                :key="item"
                                @mousedown="p2mdown"
                                @mouseup="doHideRects">
                            <transition leave-active-class="animated aniDu03 fadeOut">
                                <div :style="{'animation-delay':delayList[index]+'s'}"
                                     v-if="!isShowItems(index)"
                                     v-show="showRectList">{{item}}</div>
                                <div :style="{'animation-delay':delayList[index]+'s'}"
                                     v-if="isShowItems(index)"
                                     :class="showRectList? '':'nonhover'">{{item}}</div>
                            </transition>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- page6 -->
            <div class="swiper-slide">
                <!--<video src="video/video1.mp4" loop autoplay></video>-->
                <!--<transition leave-active-class="animated fadeOut">-->
                <!--<div class="cover-post" v-if="isShowPost4" style="background-image: url('images/bg1.jpg')"> </div>-->
                <!--</transition>-->
                <div class="page6-content">
                    <p>成为合伙人<br><span>How to become a partner</span></p>
                    <!--<div> Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,risus utaliquam dapibus. Thanks!</div>-->
                    <a href="javascript:;" @click="p6Readmore">read more</a>
                </div>
            </div>
            <!-- page7 -->
            <div class="swiper-slide">
                <!--<video src="video/video1.mp4" loop autoplay></video>-->
                <!--<transition leave-active-class="animated fadeOut">-->
                <!--<div class="cover-post" v-if="isShowPost5" style="background-image: url('images/bg1.jpg')"> </div>-->
                <!--</transition>-->
                <div class="page7-content">
                    <div class="mb60"><img src="images/logo1.png"> </div>
                    <div class="mb40"><img src="images/title-contact.png"> </div>
                    <div class="tc mb40">
                        <a href="javascript:;" class="btn1" @click="doRecruit">招聘信息</a>
                        <a href="javascript:;" class="btn1" @click="doDesigner">设计师合作</a>
                    </div>
                    <div class="info">
                        <div>-PHONE AT US： <span>0592-5172073</span></div>
                        <div>-ADDREss： <span>中国福建省厦门市思明区观音山商务运营中心18栋</span></div>
                    </div>
                    <ul class="list">
                        <li @mouseover="showWechatImg=true"
                            @mouseleave="showWechatImg=false">
                            <img src="images/slogo1.png">
                        </li>
                        <li @mouseover="showSinaImg=true"
                            @mouseleave="showSinaImg=false">
                            <img src="images/slogo2.png">
                        </li>
                    </ul>
                    <transition enter-active-class="animated aniDu03 fadeIn"
                                leave-active-class="animated aniDu03 fadeOut">
                        <div class="tc mt20" v-if="showWechatImg"><img src="images/img.jpg" width="170" height="170"> </div>
                        <div class="tc mt20" v-if="showSinaImg"><img src="images/img2.png" width="170" height="170"> </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
    <footer-nav :index="slideIndex"></footer-nav>

    <transition leave-active-class="animated fadeOut">
        <div class="loading-frame" v-if="showLoading">
            <div class="content">LOADING...</div>
        </div>
    </transition>

    <transition enter-active-class="animated slideInUp"
                leave-active-class="animated slideOutDown">
        <div class="news-frame" v-if="news.isShow">
            <div class="slide-frame">
                <a href="javascript:;" @click="hideNews"><img src="images/arrow2.png"> </a>
                <div class="content-frame" :style="{'height': news.height+'px'}">
                    <div class="frame1400" style="width: 1300px;">
                        <div style="width: 850px; margin-left: 30px;">
                            <div class="title" v-if="news.title != ''">{{news.title}}</div>
                            <div class="content" v-html="news.content"></div>
                        </div>
                        <div class="last-frame">
                            <h3>LAST POSTS</h3>
                            <ul class="last-list">
                                <li v-for="item in news.list" @click="openLastNews(item)">
                                    <p>{{item.title}}</p>
                                    <div>{{new Date(parseInt(item.ctime)*1000).format('yyyy-MM-dd')}}</div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
<script src="js/app.js"></script>
</body>
</html>