@import '../../static/css/mixin.styl'

.Message
  &-tabs
    size(100%, 40px); display flex; padding-left 12px;
    .item
      height 100%; center(); position relative; color #999999; margin-right 32px;
      text.dot-num
        abTR(2px, -10px)
    .active
      color #333333;
      &:after
        content ''; size(20px, 2px); abBL(0, 50%); background-color #FE322B; transform translateX(-50%);
    .ringbell
      width 24px; abTR(8px, 12px);
  &-page
    height calc(100vh - 48px - 54px - constant(safe-area-inset-bottom));
    height calc(100vh - 48px - 54px - env(safe-area-inset-bottom));
  &-list
    width 100vh; overflow hidden;
    .item-box
      width calc(100vw + 68px); display flex; transition transform .2s ease-out;
      .btn-del
        size(68px, 72px); center(); background-color #FE322B; color #FFFFFF;
    .item-box-show
      transform translateX(-68px);
    .item
      size(100vw, 72px); acenter(); padding-right 12px; padding-left 12px;
      &:after
        left 12px;
      .img
        size(40px, 40px); border-radius 50%; margin-right 8px;
      .content
        ellipsis(); width 255px; color #999999; font-size 12px;
      .infos
        flex 1 0 0
  &-modal
    size(100%, 100vh); fxTL(0, 0); z-index 1000; background-color rgba(0, 0, 0, .5); center()
    .box
      width 250px; background-color #FFFFFF; border-radius 4px;
